[2012-09-22 16:10] etosch opened #1 "HTML viewer"
Write basic HTML viewer with the following components:
- Text box for pasting dex code
- "Interpret" button
- Output display

While later we might have issues with encoding in the text box, for now we're sticking with simple ascii or however javascript represents strings in the default.

[2012-09-22 16:13] etosch commented on #1
Other features to add:
- current instruction box
- next button
- register view

[2012-09-22 16:13] jjfiv opened #2 "Support Single Step in VM"
Might help pinpointing issues in VM state/registers. This has already been merged into html layout issue.

[2012-09-22 17:21] etosch opened #3 "Write out plan for implementation of 10 instructions"
Working on how to represent instructions inside the machine.

[2012-09-27 14:24] etosch opened #4 "Implement registers/frames"
"The VM is register-based, and frames are fixed in size upon creation. Each frame consists of a particular number of registers (specified by the method) as well as any adjunct data needed to execute the method, such as (but not limited to) the program counter and a reference to the .dex file that contains the method."

Determine number of registers needed for a given method (this is listed as a pr

[2012-09-27 14:37] etosch opened #5 "determine input"
We discussed having the input be the equivalent of a dex file that can be fed as input. Is this actually going to be the output of the disassembler, either pasted into the window or uploaded as a file? The specs say we're feeding in a dex file, but we appear to have an encoding issue with the dex file. Should we instead just feed the dex file into the VM directly via some upload thingie and read t

[2012-09-27 14:39] etosch opened #6 "design how to represent threads"
We'll need a way of representing state for when an interrupt call is made. A given thread is represented by:

1)  value of the program counter
2) saved state of the current operation
3) ...

[2012-09-27 14:41] etosch opened #7 "primitives to implement"
1) bool
2) byte
3) short
4) char
5) int
6) long
7) float
8) double
9) void
10) class

[2012-09-27 14:41] etosch opened #8 "implement exceptions/try/catch?"

[2012-09-27 14:43] etosch opened #9 "determine data structures to be implemented"
Array[]

[2012-09-27 14:44] etosch opened #10 "davlik objects to be implemented + their classes"
Object
- equals
- hashCode
- toString

String
- value
- count
- offset
- hashCode

When used for object references, registers are considered wide enough to hold exactly one such reference.
In terms of bitwise representation, (Object) null == (int) 0.

[2012-09-27 14:47] etosch opened #11 "register width and alignment"
"When used for bit values (such as integers and floating point numbers), registers are considered 32 bits wide. Adjacent register pairs are used for 64-bit values. There is no alignment requirement for register pairs."

[2012-09-27 14:52] etosch opened #12 "question????"
"The storage unit in the instruction stream is a 16-bit unsigned quantity. Some bits in some instructions are ignored / must-be-zero."

What does this mean?

[2012-09-27 14:54] etosch opened #13 "constant pool"
There are separately enumerated and indexed constant pools for references to strings, types, fields, and methods.

[2012-09-27 17:51] jjfiv commented on #12
This is a way of having reserved fields. Basically, the bits within an instruction mean something; once in a while, there are pieces of the binary field that aren't used. Specifications often go back and forth between what "must be zero" and what is "ignored", because the parser doesn't actually read it.

That being said, I haven't noticed any "reserved" chunks of instructions. They seem to be str

[2012-09-28 01:01] etosch commented on #13
I just pushed some really simple code. My preliminary questions are:
1) How far do we need to drill down to get the details of the memory? I'm assuming that each entry in the array is one byte and that characters are one byte each. This is find for strings - I'm not sure how it's going to deal with other types.
2) How to tell what type a constant is - are we going to have annotations? Are we going

[2012-09-28 01:03] etosch commented on #12
Okay, so should I close this? I just wanted to post pieces of the specs, one by one, to make sure we touch everything.

[2012-09-30 19:53] #1 closed, assigned to jen4ik

[2012-10-01 00:16] jen4ik opened #14 "resolving virtual methods"
So each class has a list of all the virtual methods it contains, which means you need to go up level by level until you find one of its parents that has the method written out specifically.
Do we prefer the result to be space efficient (have a "pointer" to the method's string) or time efficient (copy the method's text into its slot in the array in the current class?)

[2012-10-01 02:42] jen4ik opened #15 "dexifying multiple class files"
I tried to dexify a java program with a class and a subclass of it, but I did not succeed. Although it's a single java file, after running it through javac I get 2 class files (one for the class and one for the subclass). I tried jar-inf, zipping and other things, but didn't succeed in dexing them. Any suggestions?

[2012-10-04 01:23] jjfiv commented on #3
See my latest commit, contains IR. Previous commit added an XLS file that contains a list of all the unique opcodes. Would love to have comments on any/all.

[2012-10-04 01:25] jjfiv commented on #13
The current plan is to resolve all references to constants and the constant pool during load time. The return of the loader will be classes in a list. See mock-hello.js.

[2012-10-04 01:25] #13 closed, assigned to jjfiv

[2012-10-04 01:26] #12 closed, assigned to nobody

[2012-10-04 01:30] jjfiv commented on #14
The loader will resolve calls to methods to have references to their strings. See src/mock-hello.js

e.g.
{op: "invoke", kind: "virtual", argumentRegisters: [0, 1], method: "Ljava/io/Printstream;.println"}

This kind of work will need to be done for "invoke" "interface" methods, so instances of classes will need a way to maintain their types for the resolution of interface methods from an abstract

[2012-10-04 01:30] #14 closed, assigned to nobody

[2012-10-04 01:32] jjfiv opened #16 "design needed for class instances"
Need a type: String, and I'm not sure what else. Will need instance fields, and to call an appropriate constructor. Someone needs to mock up .java files, and dex them, and see what the code looks like. Are calls to the constructor put in explicitly or is that our job on "new"?

[2012-10-04 01:33] jjfiv commented on #4
We need to look into and integrate the google long library. Whenever an opcode is "wide" then accessing register N means to grab register N and register N+1 and manipulate it like that. We'll need to create a long object, do the operation(s) and then break it up and put it back into registers. If the google API isn't simple enough we can write our own.

[2012-10-04 01:34] jjfiv commented on #11
Javascript "Numbers" hold roughly 56 bits.

[2012-10-04 01:35] jjfiv commented on #5
The File API will be used in the final project; there is a proof-of-concept in the repo. For tests, a python script exists to convert dex files to arrays.

[2012-10-04 01:35] #5 closed, assigned to nobody

[2012-10-04 01:41] jjfiv commented on #10
Started this; see src/native.js

Also, I think that references should be stored "as-is", rather than manufacturing pointers. It will give us the benefit of using javascripts garbage collector.

e.g. making a new "String" will actually put a string in the register. OR it will put in a wrapper object. See the issue about making an instance format.

[2012-10-04 01:44] jjfiv commented on #8
Yes. This is needed. It's a huge part of the format and a bunch of instructions beside. Not to mention Java people use it regularly.

Parsing it out isn't a huge challenge. The challenge is possibly in the implementation of the "throw" opcode. It will have to consult a table based on the type of the object being thrown and try to match it. Unlike C/C++, there is no unwinding of the stack, anything

[2012-10-04 01:47] jjfiv commented on #6
The "program counter" will need to have a reference to the current method, in some way or another, because there's no sense of a global pc. It is also part of a "stack frame". This is the key to designing threads.

A thread has a stack. A stack has frames. One for each method call. If they ever pop off the last one, that thread is done. When all threads are done, the VM terminates.

Each stack fra

[2012-10-04 01:47] jjfiv commented on #6
Didn't mean to close, that button was closer :/

[2012-10-04 01:50] jjfiv opened #17 "invoke-virtual goal#2"
http://en.wikipedia.org/wiki/Virtual_function#Java

Nice example with animals on Wikipedia. Shouldn't be too many more opcodes than what we have, once we get hello all the way through, and will stress our class and instance structures.

[2012-10-04 02:55] jen4ik commented on #16
So I have a class and a sub-class written in java, but I had trouble dexing them.
They're in the /test/ClassHierarchyTest folder in Git (related to issue #15)

[2012-10-04 12:15] jjfiv commented on #16
Both of these worked for me.
dx --dex --output clh.dex ClassHierarchyTest.jar
dx --dex --output clh.dex ClassHierarchyTest.class ClassHierarchyTest\$Penguin.class

The format is:
dx --dex --output OUT_FILE_NAME INPUT_FILES

[2012-10-04 21:53] jen4ik commented on #15
works with the following syntax: dx --dex --output dxFilename.dex firstClass.class firstClass\$subClass.class

and so on.. Just space separated, \$ instead of $ in filename

[2012-10-04 21:53] #15 closed, assigned to nobody

[2012-10-04 21:58] jen4ik commented on #16
I closet Issue #15 after successfully dexing and dasming it

From looking at the dasm, looks like this is not going to be pleasant. It doesn't specify in the subClass any of the superClass's methods or members. Haven't looked at the full program through John's disassembler yet, though

[2012-10-04 23:03] jjfiv opened #18 "inspect a dex file to differentiate between static constructors and constructors in bytecode"

[2012-10-06 12:34] jjfiv opened #19 "load core.odex into our VM"
I built the standard class libraries as provided by android; there is an accompanying README in case I get hit by a bus and it needs to be redone.

The dex loader will need a lot of work throughout this process, because while working on it I blatantly skipped anything I didn't absolutely need.

It is possible that once this is run, if it takes a long time, we can generate a javascript file with th

[2012-10-06 12:42] jjfiv opened #20 "Dalvik opcodes to icode conversion"
In the dexLoader module, most likely.

This conversion needs to be done to convert the dalvik opcodes to our more compact "icode" --- this translation step will make executing instructions simpler; the VM will be able to step to the next entry in the icode array, rather than have to figure out how long the instruction is. In a sense, we're converting CISC to RISC.

Unfortunately, the address offse

[2012-10-06 16:02] jjfiv opened #21 "dex loader must output equivalent of mock-hello.js data structures"
Then we will be done with this one

[2012-10-06 16:02] #3 closed, assigned to nobody

[2012-10-11 21:43] jjfiv opened #22 "javascript binary <-> double/float conversions"
Seems like the best way of doing this (consulted google briefly) is with [Typed Arrays](https://developer.mozilla.org/en/JavaScript_typed_arrays). So we would write it to a byte array, cast it to a float array and do it like that. This would depend on such array support ( we already do by depending on the FileAPI, I believe )

[2012-10-12 15:25] etosch opened #23 "object constructor convenction"
Request for an addendum to the commandments: when defining an object class constructor, can we make that aspect clear by defining like this:

function Type(args){
}

rather than

var Type = function (args){
}

While it's clear that objects are capitalized, I think it would enhance readability to have a clear distinction between expected behavior of the base "class" and the "extras" we add via the

[2012-10-12 15:44] jjfiv commented on #23
Makes no difference to me; I was just using that form so that all
functions are defined the same way / it's also the only way to properly
scope functions:

function Type() //goes in global scope always.
var Type = function() { } // goes in enclosing scope because var

We're just polluting the global namespace with our classes so it really
doesn't matter. Go ahead and update them all, if you like.

[2012-10-12 20:50] etosch commented on #23
Nope, that's fine. If it ain't broke, why fix it?

[2012-10-12 20:50] #23 closed, assigned to jjfiv

[2012-10-12 20:51] etosch commented on #21
Push dexLoader, please?

[2012-10-13 01:31] jjfiv commented on #21
I've pushed it; need to implement "invoke-virtual" inside of "icodeGen.js" and this will be 99% done. If icodeGen is completely opaque, we can talk about it.

[2012-10-13 01:32] jjfiv commented on #2
This implemented by virtue of our architecture. The loop of running the VM exists outside of the VM.tick() function. Closing.

[2012-10-13 01:32] #2 closed, assigned to nobody

[2012-10-13 01:36] jjfiv commented on #18
Static constructors are `<clinit>`, regular / instance constructors are `<init>`

[2012-10-13 01:36] #18 closed, assigned to jjfiv

[2012-10-13 01:37] jjfiv commented on #19
core.odex was the incorrect file; core.dex has been located; and loads completely through the dexLoader. icodeGen is incomplete, but all the structures are parsed correctly until that point.

70% complete.

[2012-10-13 01:38] jjfiv commented on #20
This will happen in "icodeGen.js".

This is what Emma and I discussed as the CISC->RISC conversion for internal execution.

[2012-10-14 17:25] etosch opened #24 "Upload.js - needs to know what to do when files are ready"
From Upload.js

// TODO have a protocol for setting this callback
Upload.prototype.onFileReady = function(fileName, fileData) {
  var dex = new DEXData(new ArrayFile(fileData));
};

[2012-10-14 17:31] etosch opened #25 "include dependencies at the top of your files"
Please include a list of dependencies at the top of your files so that others can more easily find the source code for objects.

[2012-10-14 18:44] jjfiv commented on #24
Upload controls all the HTML needed for file upload; the process of callbacks. So, we need some sort of callback here that does something when the file is loaded.

Right now, it creates a DEXData object. At some point, the data loaded in needs to get to the VM; for now that part of the design isn't connected. We either code directly, or we make the Upload class take a callback that tells it what t

[2012-10-14 18:54] etosch opened #26 "handling files to upload"
Currently the load file button for Upload.js only uploads one file at a time. The current implementation keeps an array of chosen files, but in practice only allows one choice Update this to handle:

(1) manually entering more than one dex file sequentially.
(2) entering more than one file at a time using the file selector. (If I try to load two files at once by selecting two, only the last one is

[2012-10-14 19:14] etosch opened #27 "dexing more complicated classes"
How does the dex tool work? Does the dex tool produce a single dex file that pulls in all dependencies or does it call other dex files? Write a simple java file (e.g. a  "Hello, Team!" file that prints out team member names) that pulls the team member names from another class that contains only fields or a linked list or something.

Add an explanation of how loading local imported classes works in

[2012-10-14 19:31] etosch opened #28 "grep trick"
What's the grep trick you showed me the other day to search through all the contents of the files in a directory that avoided writing

for f in src/*
do
    line=`grep Uint $f`
    if [[ -n $line ]]
          then
          echo "$f : $line"
    fi
done

Also, as you can probably tell, I was trying to figure out where Uint8Array came from. I couldn't find it, so I didn't add it to the dependencies

[2012-10-14 19:37] jjfiv commented on #28
[Uint8Array](https://developer.mozilla.org/en-US/docs/JavaScript_typed_arrays/Uint8Array) is an intrinsic --- built into the browser. I discovered it while researching the [File API](http://www.w3.org/TR/FileAPI/)

My favorite grep command is:
`grep Uint * -RIn --color=always`

`-R` recursively searches for files based on the initial set `*`
`-I` ignores any binary files it finds; searching only t

[2012-10-14 19:39] emeryberger commented on #28
You could do this -- recursive search starting from src/, matching every file:

% find src/ -name '*' | xargs grep Uint

-- emery

##

Professor Emery Berger
Dept. of Computer Science
University of Massachusetts, Amherst
www.cs.umass.edu/~emery

On Oct 14, 2012, at 3:31 PM, etosch notifications@github.com wrote:

[2012-10-14 19:39] etosch opened #29 "documentation of major steps"
How does you system work?
- start from index.html
- Choose a dex file
- Hit load
  This starts the process rooted controlled entirely in Upload.js. Upload.js handles interaction between the browser and the VM. When the user clicks on the "Load File" button, this kicks off a process that parses the input file, loads up the VM with the appropriate number of threads, and does something at then end of

[2012-10-14 19:41] emeryberger commented on #28
Nice grep hackery!

##

Professor Emery Berger
Dept. of Computer Science
University of Massachusetts, Amherst
www.cs.umass.edu/~emery

On Oct 14, 2012, at 3:37 PM, John Foley notifications@github.com wrote:

[2012-10-14 19:42] jjfiv commented on #27
@etosch

Dex files contain 1 to N classes. If you give it a `.jar` or multiple `.class` files, they all become one DEX file.

`dx --dex --output HelloTeam.dex HelloTeam.class TeamNames.class`

HelloTeam.dex now contains: [`class HelloTeam`, `class TeamNames`]

[2012-10-14 19:57] jjfiv commented on #29
Right now, there are two html files:
- `index.html` This file is used to test the dexLoader and icodeGen modules. It is not yet connected to the VM, because these modules are not complete enough.
- `mock-hello.html` This file is used to run the VM on the handcrafted `mock-hello.js`, which is what the output of dexLoader/icodeGen should look like.

Basically, the whole pipeline is what we'd get if

[2012-10-15 02:59] etosch commented on #28
Okay, next grep challenge: how to search for things with spaces? I tried:

grep firstpart\ secondpart ...
grep 'firstpart secondpart' ...
grep "firstpart secondpart" ...

I also tried

echo "firstpart secondpart" | grep ...

but I didn't know how to make the pipe insert this as the first arg.

[2012-10-15 03:06] etosch opened #30 "What's up with line 60 in icodeGen?"
See hanging assignment: https://github.com/jjfiv/dalvik-js/blob/master/src/icodeGen.js#L60

[2012-10-15 03:07] jjfiv commented on #28
`grep "first second" *` works for me

As does the Regex version:
`grep "first\s\+second" *`

`\s` should match generic whitespace
`\s\+` should match one or more characters of whitespace

Trial and error told me I needed to escape the +; I haven't done too
much with Regexes in general.

It is possible that the OSX grep is a bit different. `ls`, for example
has different arguments, if I remember co

[2012-10-15 03:10] jjfiv commented on #30
This is completely a typo, that Javascript let me get away with. My
apologies.

I was mid thought process, about to take `opArgs[0x0f]`,
`opArgs[0x10]`, and `opArgs[0x11]` and make them one function; the
unfinished `dest8`. I don't know why I lost track of that.

[2012-10-15 03:16] etosch opened #31 "Finish specifying args for remaining move commands"
This is just a matter of hitting up the spec and indicating how to parse out the args. Code is located in iCodeGen.js. Section begins [here](https://github.com/jjfiv/dalvik-js/blob/master/src/icodeGen.js#L47).

[2012-10-15 03:17] etosch opened #32 "Finish specifying args for remaining const commands"
Finish the arg parsing John started for [this](https://github.com/jjfiv/dalvik-js/blob/master/src/icodeGen.js#L79) section. See #45 for more details.

[2012-10-15 03:20] etosch opened #33 "specifying monitor commands in icodeGen.js"

[2012-10-15 03:21] etosch opened #34 "parsing commands related to types, instances, etc."

[2012-10-15 03:22] etosch opened #35 "finish parsing array commands"
John implemented the first starting [here](https://github.com/jjfiv/dalvik-js/blob/master/src/icodeGen.js#L109). See #45 for more details.

[2012-10-15 03:23] etosch opened #36 "parse throw"

[2012-10-15 03:23] etosch opened #37 "parse control commands"
Implement control commands starting [here](https://github.com/jjfiv/dalvik-js/blob/master/src/icodeGen.js#L122). See #45 for more details.

[2012-10-15 03:25] etosch opened #38 "parse comparator commands"
Implement comparator commands starting [here](https://github.com/jjfiv/dalvik-js/blob/master/src/icodeGen.js#L129). See issue #45 for more details.

[2012-10-15 03:25] etosch opened #39 "parse control comparator commands"
Implement opcodes starting [here](https://github.com/jjfiv/dalvik-js/blob/master/src/icodeGen.js#L136). See #45 for more details.

[2012-10-15 03:26] etosch opened #40 "parse array operations"
Implement array ops defined [here](https://github.com/jjfiv/dalvik-js/blob/master/src/icodeGen.js#L150). See issue #45 for more details.

[2012-10-15 03:27] etosch opened #41 "parse ops on instances"

[2012-10-15 03:32] etosch opened #42 "parse static ops"

[2012-10-15 03:34] etosch opened #43 "parse things that start with invoke"
and other requirements of fibonacci

[2012-10-15 03:36] etosch opened #44 "parse unary ops"
Implement arg parsing for unary ops starting [here](https://github.com/jjfiv/dalvik-js/blob/master/src/icodeGen.js#L232). See issue #45 for more details.

[2012-10-15 03:36] etosch opened #45 "parse binary ops"
Implement opcode arg parsing, starting [here](https://github.com/jjfiv/dalvik-js/blob/master/src/icodeGen.js#L255). [Davlik Bytecode here](http://source.android.com/tech/dalvik/dalvik-bytecode.html). Ping John for questions regarding parsing and managing opcode args.

[2012-10-15 03:41] etosch opened #46 "write something to track opcode usage"
We want to make sure we're hitting all the opcodes for our test suite. Write something that keeps track of the set of opcodes used for a given instance of our VM.

[2012-10-15 04:30] etosch opened #47 "check ICODE tracker and close issue if satisfactory"
Check my last set of commits for the icode tracker and close issue #46 if what's written is satisfactory.

[2012-10-15 04:46] #30 closed, assigned to jjfiv

[2012-10-15 04:48] etosch commented on #29
Okay, so the major bottleneck here is handling the conversion from CISC to RISC, right?

[2012-10-15 04:49] #28 closed, assigned to jjfiv

[2012-10-15 04:51] etosch commented on #27
Note that this issue is still open - we will need a description to put in the wiki, which will eventually go into our writeup, under the features our system can handle.

[2012-10-15 04:53] etosch commented on #26
If you could write/make some test cases to make sure that these options work, that would be great. Be sure to document them in the wiki.

[2012-10-15 04:55] etosch commented on #24
Okay; how difficult do you think throwing together the hacky (non callback) version? That's what we would need to push through the pipeline, right? Can you write up whatever one would need to know to do this and assign to me or Jennie?

[2012-10-15 04:57] etosch commented on #22
Is this for opcodes (e.g. the ones later in the list) or for handling some data issue with Javascript? Also, could you tag this issue with whatever appropriate part of the process this belongs to (make up a new one if you need to).

[2012-10-15 05:02] etosch commented on #21
Would this be an appropriate next step? I've assigned it to myself in #43. If so, could you tag that with the next steps label?

[2012-10-15 05:04] etosch commented on #7
Update on the status of this and whether it's still meaningful?

[2012-10-15 05:07] etosch commented on #20
So at the bottom of icodeGen.js, we pop out the RISC version of these, right? Then icodeExecute.js is attached to the VM?

[2012-10-15 05:09] etosch commented on #19
So would this be the last thing we test? Could write up some things we need to test on the wiki?

[2012-10-15 05:11] etosch commented on #11
So how are we enforcing this again? Also, where is it handled?

[2012-10-15 05:11] #17 closed, assigned to nobody

[2012-10-15 05:13] etosch commented on #10
So what's the goal here?

[2012-10-15 05:13] #9 closed, assigned to nobody

[2012-10-15 05:13] #6 closed, assigned to jjfiv

[2012-10-15 05:14] #4 closed, assigned to jjfiv

[2012-10-15 11:54] jjfiv commented on #10
The goal here is that when we load up the standard library, some methods will be missing. This is a little bit down the road, but we will need javascript-based "native" functions to handle some core things. The most basic one will be: `LPrintStream;.println`

[2012-10-15 11:57] jjfiv commented on #29
Yeah, that's the major piece in the middle missing.

[2012-10-15 12:01] jjfiv commented on #26
Future options (4) and (5) would require a zip library written in Javascript. Also, people generally don't jar or zip dex files.
Future option (6) would require some sort of server. Javascript is restricted from loading things from a user's computer that aren't specified through an `<input type="file" />`

I don't think the rest will be able to be automated tests, unfortunately; unless someone has

[2012-10-15 12:09] jjfiv commented on #22
This is for inside of the static data parser of the Dex Loader. [dexLoader.js:368](https://github.com/jjfiv/dalvik-js/blob/master/src/dexLoader.js#L368) (If that line moves, look for `ValueType.Float` and `ValueType.Double`)

Basically, we need some way of reading binary float and double literals into appropriate javascript objects.

[2012-10-15 12:13] jjfiv opened #48 "need a method to truncate a double to a float"
All Javascript numbers are 64-bit "doubles". Therefore, to emulate float support, we can do all our math on doubles, and then cut them down to size at the end of every operation.

Therefore we need a:
`var floatFromDouble = function(_input) { //more here }`

Research: [IEEE floating point format](http://en.wikipedia.org/wiki/IEEE_floating_point)

[2012-10-15 12:16] jjfiv commented on #19
This cannot be the last thing we test; we need to be able to load this to run any remotely real-world sample programs. I will work on defining our test suite.

[2012-10-15 12:18] jjfiv commented on #20
`icodeExecute` is used by the VM.

[2012-10-15 12:28] jjfiv opened #49 "opcode handlers in icodeGen must fill out "op" field"
Right now, `opName[]` inside of icodeGen.js is used to assign names to the icode. This is fine, but ultimately, certain families of opcodes `invoke-*`, `move-*` ought to be combined into one icode. This will be reflected in the "op" member of that opcode.

Right now, we're setting a name field to the specific name. This is fine, but could probably be commented out for efficiency when we're done, b

[2012-10-15 12:32] jjfiv commented on #11
I'm going to go looking for the Google "long" library. It is not handled anywhere yet. I imagine that we will use the Type object to do some of this.

We will need to have a function that takes a value and a type and makes sure the value is within the proper bounds for the given type.

[2012-10-15 12:33] jjfiv commented on #7
This is a meaningful checklist in terms of the Type class. I'll let Jennie close it when she's ready.

[2012-10-15 12:50] jjfiv opened #50 "bytecode to icode address conversion"
This is a  more complicated issue. It has two parts but can't really be separated.
- `goto` `switch` and `if` (and anything else with an address), must be converted from bytecode addresses to icode addresses. This will be a step after the initial translation, because otherwise, we cannot resolve forward branches.
  - An array of offsets should be maintained. For example, the offsets might be [0,3,

[2012-10-15 12:54] jjfiv opened #51 "ClassLibrary object in VM"
The `ClassLibrary` will be the object within the VM that contains all the classes defined.

`VM::defineClasses` will call `this._classLibrary.defineClasses`

The convoluted searching for a main class will be partially replaced by `ClassLibrary::findClassByName(name: string)`, as that will be a common operation.

We should probably also support a `findClassByType(type: Type)` which asks the type fo

[2012-10-15 12:55] jjfiv commented on #51
It should also complain if you define a class that's already defined. Or merge them? I'm not sure if that would always be possible.

[2012-10-15 13:05] etosch commented on #51
So is `ClassLibrary` anything like the JVM's ClassLoader?  And these are classes that are available to all threads?

Would this then be a refactoring of the code found [here](https://github.com/jjfiv/dalvik-js/blob/master/src/VM.js#L17)? If so, do you think this is a fairly contained task?

[2012-10-15 13:08] jjfiv opened #52 "Improvements to Class objects & createInstance"
Right now the structure defined in [Class.js](https://github.com/jjfiv/dalvik-js/blob/master/src/Class.js) is not very detailed.
- Convert the appropriate pieces of dexLoader to use this type.
- Support a `findMethodBySignature`
  - This will have to take a string of the form `println(I)V`, `multiplyLongs(L,L)L` and return the appropriate method, if any.
  - it will be the responsibility of the ca

[2012-10-15 13:10] jjfiv commented on #51
This is half of that refactoring. The other half is in Issue #52.

Sort of like a ClassLoader, except I really don't know much about ClassLoaders. I doubt we will support responding to requests to load a class on demand. Either we have it via a dex or not.

[2012-10-15 13:11] etosch commented on #50
Is this in relation to #37? (If so, please link to or comment on existing issues in the future, so we don't have wade through additional stuff)

[2012-10-15 13:14] jjfiv commented on #50
Yes and no. I think it should be kept separate, although it could be done as part of that issue. I'm trying to generate more standalone chunks. It will depend on that issue being done.

[2012-10-15 14:17] etosch opened #53 "clarification on move-wide"
04 12x  move-wide vA, vB    A: destination register pair (4 bits)
B: source register pair (4 bits)    Move the contents of one register-pair to another.
Note: It is legal to move from vN to either vN-1 or vN+1, so implementations must arrange for both halves of a register pair to be read before anything is written.

The spec here is almost identical to the vanilla move (sans the "Note) - so is the

[2012-10-15 14:21] etosch commented on #53
Or are we to read this where for vanilla move, the 4-bit register address points to a single block, but for the move-wide, the 4-bit register address points to two adjacent blocks? Given what's stated in the note, it looks like that address could be either the second half or the first half of the two block address - should we have the convention that it always reads from the first half?

[2012-10-15 14:26] etosch commented on #53
Finally, if the 4 bits refer to the address of the register, then we have 16 registers...but wait, we have infinite registers. So is this what the move/from16, etc is capturing, i.e. that our "infinite" registers really mean that we have 65,000 or so registers that appear infinite because we'll never use than many, unless we have some really terrible implementation?

[2012-10-15 14:32] etosch commented on #53
So we have two "sizes" to think about - the size of address we're reading, and the actual size of the contents we're moving. So:

For the vanilla move, we're moving from a register that's addressed using 4 bits whose contents are of size 32 bits to another register that's addressed using 4 bits and whose contents are of size 32 bits.

For move-wide, we're moving from a register that's addressed us

[2012-10-15 14:34] jjfiv commented on #53
- There are 2^16 registers available per function. Most opcodes only address the first 2^4 registers. They don't have all addresses at maximum size to save space; 99% of the time, they only need the first sixteen registers, so it doesn't make sense to address all of them all the time; it would just be storing a bunch of extra zeroes.
- Once we get to icode, the size of the register id doesn't matt

[2012-10-15 15:18] etosch commented on #53
Awesome. In that case, I have some ideas about refactoring for RISC.

Also, for things like the difference between "move" and "move-object:" these look the same, except are we to assume that "move" can move anything, whereas "move-object" can only move object types? Does this matter for our RISC spec/VM?

[2012-10-15 16:07] jjfiv commented on #53
Implementation-wise, they'll be the same. I was tentatively keeping it in so that we could self-test that move-object commands were only used on object types, but it really doesn't matter. There doesn't seem to be any exception to be thrown on a bad move command. Honestly, I'm not really sure why they're separate opcodes at all.

[2012-10-15 16:19] etosch commented on #53
Maybe it's for the internal generation of the opcodes? Like, maybe the dex tool uses some annotations?

[2012-10-15 16:26] jjfiv commented on #53
Confirmed in dalvik source; they share an implementation. I think maybe they use it for debugging; to know how to interpret the registers at step time?

Contents of `vm/mterp/c/MOVE_OBJECT.cpp`: `%include "c/MOVE.cpp"`

I will remove `move-object` if it exists in `icode.xls`

[2012-10-15 16:55] jjfiv commented on #11
File added as [gLong.js](https://github.com/jjfiv/dalvik-js/blob/master/src/gLong.js#L808), slightly modified from original.

Note that:
`gLong.fromNumber(10).add(7) === 10` because their operations expect both operands to be gLong objects. This is rather annoying.

Need to do:
`gLong.fromNumber(10).add(gLong.fromNumber(7)) === 17`

[2012-10-15 19:29] etosch commented on #20
John - can you take a look at the code I just pushed? The major changes I just made were regarding the CISC->RISC conversion:

1) I added `setRegisterWide` and `getRegisterWide` in [Thread.js](https://github.com/jjfiv/dalvik-js/blob/master/src/Thread.js#L69).
2) I started implementing family codes. Family codes are produced by calling `inc()`, which gives the next family code. Family codes are sav

[2012-10-15 20:12] jjfiv commented on #20
Some initial thoughts:
-  Please review `icode.xls`. I put a lot of time and thought into where to break up opcodes, and some of my comments are based on knowledge present in there. It may need changes or updates, I realize, but we can create issues as we find them.
- You're now using indexed arguments, which means we have to look at a spec, and know where things come from. I named the arguments i

[2012-10-15 20:57] etosch commented on #20
I'll hit the xls file as I expand and revise.

I'll note what you're saying about indexing, but unless there's a serious issue in JS that I don't know about, it isn't a compelling enough argument for me to change it. If it becomes an issue, I'll change then. Also, I'm not following what you're saying about needing more families.

As for numbers of opcode families, I am currently keeping the opName

[2012-10-15 22:32] jjfiv commented on #20
I see now that you're assigning `inc();` to a variable, except in the NOP case. In that case I'm less concerned, but I still feel like using integers is optimizing something that doesn't yet work.

The plain old array for arguments is not going to be fun to debug or write VM code. It's making Javascript even less typed than it is. I realize that it is a lot more work to name arguments. But we're e

[2012-10-16 03:09] jjfiv commented on #20
Separate icode has moved to branch [different-icode](https://github.com/jjfiv/dalvik-js/tree/different-icode). `icodeGen.js` development will continue on master generating icodes in the style of `icode.xls` and `mock-hello.js`

[2012-10-16 13:05] jjfiv opened #54 "Build a MethodSignature class"
This class will contain
- name of the method `print`
- return value `new Type("V")`
- parameter types `[ new Type("I"); ]`

It will have a method
`MethodSignature.prototype.equals(other: MethodSignature)`

This will allow classes to implement their method `Class.prototype.findMethod(s: MethodSignature)`

[2012-10-16 13:10] jjfiv opened #55 "Extract dex files from apk"
An APK is an Android Zip file. This is lower priority, but something that needs to be considered.

[2012-10-16 19:05] jjfiv commented on #55
Possible Zip Library - [Zip.js](http://gildas-lormeau.github.com/zip.js/)

[2012-10-16 23:16] emeryberger commented on #55
You should talk to the Doppio folks about zip stuff.

On Oct 16, 2012, at 12:05 PM, John Foley notifications@github.com wrote:

Possible Zip Library - Zip.js http://gildas-lormeau.github.com/zip.js/

—
Reply to this email directly or view it on
GitHubhttps://github.com/jjfiv/dalvik-js/issues/55#issuecomment-9502552.

[2012-10-17 00:12] guptha- commented on #48
I have added the function to util.js. I have tested to some extent, but would like someone else to unit test too.

[2012-10-17 00:19] jjfiv commented on #48
Awesome!

Can you put some of your tests into `assert(cond, explanation)` expressions at the bottom of this file? (This will preserve your tests and give an example of how to use it to the next person)

Thanks,
John

[2012-10-17 01:08] jen4ik commented on #16
Can we close this one?

[2012-10-17 01:10] jjfiv commented on #16
The parts that aren't closed are covered by Issue #52.

[2012-10-17 01:10] #16 closed, assigned to nobody

[2012-10-17 01:22] guptha- commented on #48
Added. Not sure how to test the assert cases. Do we have any framework for
them ready or should I plug in the html for that?

On Tue, Oct 16, 2012 at 8:19 PM, John Foley notifications@github.comwrote:

[2012-10-17 01:25] jjfiv commented on #48
You should be able to open either html file (they both include
`util.js`), and see any failures in the console.

I drop this in, once in a while, if I don't think the output is appearing:
`assert(false, "Just to test");`

[2012-10-17 01:36] jen4ik commented on #27
So should I upload the output of the sample file to the wiki, or is something else expected?

[2012-10-17 01:39] jjfiv commented on #27
Check in the java files too. We need to start building up our test infrastructure.

[2012-10-17 01:50] jen4ik commented on #27
Everything is in Git in a folder: sandbox/ClassHierarchyTest

[2012-10-17 02:53] guptha- commented on #48
Thanks. Verified it. This issue can be marked as closed once you verify
that the function works as intended.

On Tue, Oct 16, 2012 at 9:25 PM, John Foley notifications@github.comwrote:

[2012-10-17 14:05] jjfiv opened #56 "recursion and move-result investigation"
@guptha- brought up a point about having only one result "register" per thread.

Create a java class with a recursive function and disassemble the dex; Make sure that only one result will be needed at once.

If not, look into StackFrame and Thread and decide how best to proceed.

Keep your class around, too. We ought to have a recursive test for our own sake.

[2012-10-17 14:18] jjfiv opened #57 "Bug in Upload.js"
In [Upload.js:36](https://github.com/jjfiv/dalvik-js/blob/master/src/Upload.js#L36)
`console.log('Loaded "' +f.name+'"');`

`f` is not bound to the correct variable, which causes it to print out the wrong filename in the case of multiple files. There probably is an accurate `name` field in the `target` object present in the `fileReady` function.

[2012-10-17 14:18] jjfiv commented on #26
What browser are you using? I am unable to reproduce this in Firefox 15 and Chromium 20.

There is a bug in the printing of which file gets loaded, but separate, correct DexData is created for the two dex files I used. (See Issue #57 I just assigned to you).

[2012-10-17 14:23] jjfiv commented on #55
The Doppio folks use a `java.util.zip` from [JazzLib](http://jazzlib.sourceforge.net)

This is two issues:
- I don't know if the Android `java.util.zip` is pure java or not. If it isn't, we can look into patching the dex file with JazzLib.
- If we support uploading apk files, we need to unzip them to find the dex files. For that we would probably need a Javascript library, unless we invoke our own

[2012-10-17 14:25] jjfiv commented on #54
Assign to @jen4ik: This will be one of the major clients of your `Type` class.

[2012-10-17 14:28] jjfiv commented on #52
Makes more sense to have it take a `MethodSignature` object than a String of a certain format. See Issue #54

[2012-10-17 19:52] jjfiv opened #58 "Type class should support pretty printing with dots"
Instead of "L/java/lang/String;" we should be able to get a `toDots()` version of the string/typename without "L" and with "/" changed to ".', the normal java way: `java.lang.String`

[2012-10-17 19:57] jjfiv commented on #54
assume `MethodSignature = function(name: String, returnType: Type, parameterTypes: Array<Type>) { ... }`
for now, it may decode a string later.

`print(TypeA,TypeB,TypeC)ReturnType`

[2012-10-18 02:22] jen4ik commented on #58
Done, synched

[2012-10-18 02:22] #58 closed, assigned to jen4ik

[2012-10-18 02:27] jen4ik commented on #7
this.isPrimitive() return true if this._type is any of V,Z,B,S,C,I,J,F,D
Returns false otherwise

Is that it, or should there be something else in this?

[2012-10-18 02:29] jjfiv commented on #7
`defaultJSObject` should do something for each one.

[2012-10-18 02:30] jen4ik commented on #54
Can I add this to the Method.js file or should it be in a separate file?

[2012-10-18 02:31] jjfiv commented on #54
Make a separate file; they're cheap; makes it easier to find.

[2012-10-18 02:33] jen4ik commented on #7
I saw that defaulJSObject returns [] for arrays and {} for classes.
What should be returned for a primitive other than its base type?

[2012-10-18 02:35] jjfiv commented on #7
Most of them will be zero, or false. gLong will be mildly special.
Not a huge deal, but might make the primitive casting operations easier...

[2012-10-18 02:52] jen4ik commented on #7
So in this link it says that JS only has 3 type of primitives: string, numeric, boolean
Should there really be a distinction between ints of sorts / long / floats of sorts?
http://oreilly.com/javascript/excerpts/learning-javascript/javascript-datatypes-variables.html

[2012-10-18 02:54] jjfiv commented on #7
Since the integers only hold 32 bits, longs are stolen from the google
Long library (see gLong.js); the rest of the primitives will need to be
cut down to size as necessary, basically pretending they're too small to
hold more, rather than actually being too small.

[2012-10-18 16:15] #57 closed, assigned to nobody

[2012-10-18 21:40] jen4ik commented on #27
Created, dexed, disassembled

teamMember is a class file that has 2 members: String _name, boolean_knowsJS, and a method toString()
vmTeam only has a main method that creates and array of teamMembers, assigns a name to each, and changes the boolean to 2 of them
Then, loops through the array and prints each of them out

Can be found under Sanbox/dalvikTeam

Note that if it's defined under a package

[2012-10-18 21:40] #27 closed, assigned to jen4ik

[2012-10-18 21:52] jen4ik commented on #7
I added the things we talked about this morning, but I'm not sure I understood it correctly :\

[2012-10-18 22:22] jjfiv commented on #7
Good. Let's be done with this task.

[2012-10-18 22:22] #7 closed, assigned to jen4ik

[2012-10-19 00:25] guptha- commented on #22
Correct me if I am wrong: the input will be the 32-bits of the bytecode in hex and the output should be the actual float. For example, if the input is 0x40000000, the output will be 2.0.

[2012-10-19 00:27] jjfiv commented on #22
Correct (I have no idea if your particular example is correct)
We also need a method for 64-bit things.

[2012-10-19 00:33] guptha- commented on #22
OK. 64-bit is a bit more complicated, but we can extend the same logic with some modifications. I am focusing on 32-bit now and when that's done, I will extend it to 64-bit.

I am looking at having a higher word and a lower word while dealing with 64-bit.

[2012-10-19 00:36] jjfiv commented on #22
Check out `src/gLong.js` it's from Google's libraries, and gives math and other operations on two 32-bit pieces. The implementation can easily be two separate routines. We'll always know which one we need to call.

[2012-10-19 01:31] jen4ik commented on #54
I'm assuming that both returnType<Type> and parameterTypes<Type> are what the Type.js file spits out? Or is it low level code from the disassembler?

[2012-10-19 01:33] jjfiv commented on #54
Right, they're your `Type` objects. Once this is ready, there'll be
some work to go back into dexloader and make sure it's outputting real
`Type` objects and `MethodSignature` objects.

[2012-10-19 01:35] jen4ik commented on #54
So when you call MethodSignature, do you pass "thing._type" or just "thing" and I should use "thing._type" inside the MethSig class?

[2012-10-19 01:37] jjfiv commented on #54
You pass just the Type object, and `_type` should be private; if you
need some information, then that needs to become a method of Type.

[2012-10-19 02:17] jen4ik commented on #54
initial write up has been synched
currently has: getName, getReturnType, equals, toStr
Anything else we want to add to that?

(No asserts yet, will leave it for after the midterm)

[2012-10-19 02:21] jjfiv commented on #54
Looks good so far. We can add things as they come up.
Thanks,
John

[2012-10-19 15:41] jjfiv opened #59 "Update dexloader to use Type.js, Method.js and Class.js, etc."
Make sure that dexLoader is using the types that we've built.

[2012-10-19 16:41] jen4ik commented on #54
Was reviewed, closing

[2012-10-19 16:58] jjfiv commented on #54
Type objects internally...

[2012-10-19 17:03] jen4ik commented on #54
I changed the code before closing this issue
MethodSignature._returnType = returnType;
MethodSignature._parameterTypes.push(parameterTypes[i]);

toStr: _name(parameterTypes[i].getType())_returnType.getType();

Not good enough?

[2012-10-19 17:05] jjfiv commented on #54
Never mind, I apologize. I didn't see the commit.

Put at least one `assert` in that file, and then you're done :)

[2012-10-19 17:12] jen4ik commented on #54
added getParameterAmount()
added 2 asserts: toStr(), _parameterAmount

[2012-10-19 17:12] #54 closed, assigned to jen4ik

[2012-10-19 17:15] jjfiv opened #60 "mock_hello runthrough needs to be updated to use RegisterValue"
mock_hello.js needs updating, as does our fake print statement. This should be pretty quick.

[2012-10-19 17:16] jjfiv opened #61 "set/getRegisterWide needs to be updated to use RegisterValue & gLong"
See title

[2012-10-19 17:17] jjfiv opened #62 "Threads need a pointer to their owner VM"
VM will own a ClassLibrary, so icodeExecute (esp. "invoke") need to be able to request the ClassLibrary from the Thread, which means the Thread needs to know who the VM is.

[2012-10-19 17:53] jjfiv opened #63 "Convert Type.js to use RegisterValue"
Not a huge priority, but instead of `return { type: this, value: blah }` we should `return new RegisterValue(this, blah);`

Note I fixed line endings in `Type.js` (I don't know how they got mixed), but make sure you sync before you start working.

[2012-10-20 01:35] guptha- commented on #22
floatFromByteCode is done and checked in. Someone will have to unit test independently. I have added a few asserts to check functionality.

double is still pending.

[2012-10-20 03:11] guptha- commented on #22
Double is done and checked in too. The issue can be closed after someone else unit tests.

[2012-10-20 16:15] jjfiv commented on #22
Looks really good, @guptha-. I think I will close this and we can open new issues as they appear.

[2012-10-20 16:15] #22 closed, assigned to guptha-

[2012-10-20 16:52] jen4ik commented on #63
Should I use new Register only for the primitives or for the array and class as well?

[2012-10-20 17:07] jjfiv commented on #63
Everything :)

[2012-10-20 17:16] jen4ik commented on #63
So for array, the value is [], and for class it's {}?
(Still not a 100% with JS syntax and such?)

[2012-10-20 17:18] jjfiv commented on #63
Array is definitely right, class is good enough for now.

[2012-10-20 17:19] jen4ik commented on #63
But what should the "This" part be for the array?

[2012-10-20 17:21] jjfiv commented on #63
The type itself. The only thing part that changes is the value; all of
them will be a RegisterValue with a type of "this", we want that
information.

[2012-10-20 17:26] jen4ik commented on #63
Pushed updates
Not certain about correctness

[2012-10-20 17:34] jjfiv commented on #63
Looks good.

Small points:
- need to `assert(false, "")`; you're missing a parameter at [Type.js:111](https://github.com/jjfiv/dalvik-js/blob/28bba4784a437a23f7bf0391656fb53740f4e203/src/Type.js#L111)
- could combine most primitive cases, not so important

[2012-10-20 18:08] jen4ik commented on #63
Both implemented
Good to close?

[2012-10-20 18:10] jjfiv commented on #63
Looks good to me.

[2012-10-20 18:10] #63 closed, assigned to jen4ik

[2012-10-20 20:08] #50 closed, assigned to jjfiv

[2012-10-20 20:08] #25 closed, assigned to jjfiv

[2012-10-20 20:25] #59 closed, assigned to nobody

[2012-10-20 20:26] #49 closed, assigned to nobody

[2012-10-20 20:27] jjfiv commented on #62
This means updating the Thread constructor, and having VM pass in `this` when it makes new threads.

[2012-10-20 20:36] guptha- commented on #48
As this has the same status as the bytestream to float/double issue, I am closing it with the caveat that it may not be entirely bug free as no one other than me has unit tested it.

[2012-10-20 20:36] #48 closed, assigned to guptha-

[2012-10-20 22:26] jen4ik opened #64 "64 bit consts"
opCodes 0x16, 0x17, 0x18 and 0x19 take a 64 bit value and put it in a register.
Do we have something to pull such large values?
Do we want a get64() function or just use get32 twice?

[2012-10-20 22:42] jen4ik commented on #32
initial attempt pushed to gitHub

[2012-10-20 23:36] jen4ik commented on #37
first attempt at opCodes conversion pushed to gitHub

[2012-10-21 00:04] jen4ik commented on #40
first attempt at opCodes conversion pushed to gitHub

[2012-10-21 00:08] jen4ik commented on #44
first attempt at opCodes conversion pushed to gitHub

[2012-10-21 00:17] jjfiv commented on #64
Either way. If you want to make an ArrayFile.prototype.get64, it will
probably call get32 twice inside, and then pass it to a gLong... I don't
know what the method is called to make a gLong from two 32-bit pieces,
but I'm sure there is one.

[2012-10-21 00:36] jen4ik commented on #64
OK
I just pushed an update to gitHub, can you take a look and see if it makes sense? 0x18, 0x19

[2012-10-21 01:06] jen4ik commented on #64
finished

[2012-10-21 01:06] #64 closed, assigned to jjfiv

[2012-10-21 01:52] jen4ik commented on #32
Finalized, reviewed by John

[2012-10-21 01:52] #32 closed, assigned to jen4ik

[2012-10-21 02:50] jen4ik commented on #35
Lower priority

[2012-10-21 02:51] jen4ik commented on #37
Revisit switch commands after "sparse-switch-table" is figured out

[2012-10-21 02:54] jjfiv opened #65 "switch commands need to be parsed from icodeGen"
They shall fill out the `_icode.cases` and `_icode.addrOffsets`.
`_icode.addrOffsets` will be translated into `_icode.addresses` by `AddressTranslator`

This is lower priority than the goals set for Monday, so I'm pushing it out of Issue #37 so that we can close that one.

[2012-10-21 02:55] jjfiv commented on #37
Implemented, closed for now; bugs can be new issues based on end-to-end tests.

[2012-10-21 02:55] #37 closed, assigned to jen4ik

[2012-10-21 03:07] #39 closed, assigned to jen4ik

[2012-10-21 03:18] #40 closed, assigned to jen4ik

[2012-10-21 03:34] #44 closed, assigned to jen4ik

[2012-10-21 04:30] #45 closed, assigned to jen4ik

[2012-10-21 04:33] #62 closed, assigned to jen4ik

[2012-10-21 14:06] jjfiv opened #66 "return opcodes need to be implemented"

[2012-10-21 14:09] jjfiv opened #67 "addrOffset field in goto needs to be signExtended"
It has an eight-bit parameter, which could be negative. This can be tested by loading `factorial.dex` with `index.html`

I suspect there is a similar problem with the icodeGen translation of `goto/16`

[2012-10-21 15:41] jjfiv opened #68 "Implement ``goto``"

[2012-10-21 15:42] jjfiv opened #69 "Implement ``mul`` for at least ``type=TYPE_INT``"
`_icode[5] = {op:"mul", varA:2, varB:0, dest:2, type :TYPE_INT }`

[2012-10-21 15:44] jjfiv opened #70 "mul and friends should fill out "type" rather than "srcType""

[2012-10-21 15:47] jjfiv opened #71 "implement add-lit"
`_icode[6] = {op:"add-lit", dest:2, src:2, literal:-1}`

Note that for all `*-lit` operations the type is int, or the 32-bit register.

[2012-10-21 15:50] jjfiv opened #72 "Implement if for at least cmp=le"
`_icode[4] = {op:if, varA:1, varB:2, address:3, cmp:"le" }`

cmp will be one of `["eq", "ne", "lt", "ge", "gt", "le"]` eventually, but for factorial.dex, we only need `le`, so prioritize that.

[2012-10-21 15:55] jjfiv commented on #24
Right now,

`Upload.js` creates a global `upload` object. This is not correct.
`upload` should be a member of the `VM` class.

An `Upload` object should take as a parameter to its constructor a callback function. This will be given to it by VM.

pseudocode of callback:

[code]

This issue depends on #51

[2012-10-21 19:20] #70 closed, assigned to jen4ik

[2012-10-21 19:27] #67 closed, assigned to jen4ik

[2012-10-21 19:38] #66 closed, assigned to jen4ik

[2012-10-21 19:51] jen4ik commented on #38
John verified the format: dest, srcA, srcB, type, bias

[2012-10-21 19:51] #38 closed, assigned to jen4ik

[2012-10-21 20:26] jjfiv opened #73 "move-const commands should have RegisterValue objects for value parameter"

[2012-10-21 21:01] #71 closed, assigned to jen4ik

[2012-10-21 22:40] jen4ik commented on #73
Assuming this can be closed as "will not be implemented" (we no longer have RegVal stuff)

[2012-10-21 22:41] jjfiv commented on #73
Correct.

[2012-10-21 22:41] #73 closed, assigned to jen4ik

[2012-10-21 22:42] jjfiv opened #74 "Need a method on Type class to truncate ints to the right size"
This method will take as input a type { double, float, int, short, or byte } and a javascript number. It will limit the range of the javascript number appropriately.

`Type.prototype.trimNum`

[2012-10-21 22:57] #74 closed, assigned to jen4ik

[2012-10-21 23:17] #69 closed, assigned to jen4ik

[2012-10-22 01:33] jjfiv commented on #60
Do not fix. RegisterValue was a dumb idea, in retrospect.

[2012-10-22 01:33] #60 closed, assigned to nobody

[2012-10-22 02:05] jen4ik commented on #72
implemented pushed

[2012-10-22 02:05] #72 closed, assigned to jen4ik

[2012-10-22 02:06] jen4ik commented on #68
implemented and pushed

[2012-10-22 02:06] #68 closed, assigned to jen4ik

[2012-10-22 13:46] jjfiv opened #75 "high level overview diagram"
Per your suggestion.

[2012-10-22 13:48] jjfiv commented on #52
The best way to do this will be to create some sort of java file, make it into a dex, and try it for various fake classes with various kinds of fields.

[2012-10-22 13:50] jjfiv commented on #8
This is currently parsed out into the structures inside `TryRange.js`, but that needs to be used on execution. I think the current design would be to have the `throw` opcode tell the thread it's throwing an exception and have the thread handle it.

[2012-10-22 13:51] jjfiv commented on #61
RegisterValue has been removed forcibly, and we're currently planning on pretending longs aren't split up across registers unless we really need to.

i.e. if it is a move-wide into register 1, we would theoretically fill out 1 and 2, but for our purposes, we will just put a gLong into register 1.

[2012-10-22 13:51] #61 closed, assigned to guptha-

[2012-10-22 15:57] etosch commented on #51
Just pushed the code. Can everyone pull and make sure index.html and mock-hello.html are copacetic? Is this issue ready to be closed?

The format of the thing is a an object with one field that is a hashmap  where keys are type names and values are class objects.

Regarding [my commit](https://github.com/jjfiv/dalvik-js/commit/3c196151a390e591f7635cf00709159b5d5eab72), should the propagation of th

[2012-10-22 16:05] jjfiv commented on #51
index.html & mock-hello.js seem good to me.

Totally. Feel free to add a classChooser object to the VM and fill it out appropriately. Eventually we should filter to classes that have main defined, but if we want to just stick every class in there for now, there's no problem with that.

[2012-10-22 16:08] etosch commented on #51
Should the classChooser object really be a field of the VM or of the Upload object? Since the upload object is a field of the VM, I feel like it ought to be mediating the interaction.

[2012-10-22 16:10] jjfiv commented on #51
Totally your call. It could even be a field of the ClassLibrary object.
However you want to implement it.

[2012-10-22 16:12] jjfiv commented on #11
We're going to ignore register pairs for now, indefinitely not supporting code that depends on the ordering of partial data in registers.

[2012-10-22 16:12] #11 closed, assigned to jjfiv

[2012-10-22 16:13] jjfiv commented on #10
This will be dealt with piecewise. Closing for now.

[2012-10-22 16:13] #10 closed, assigned to nobody

[2012-10-22 17:11] guptha- commented on #8
I have added a test case called tryCatch in the sample directory. Main calls a function "test" inside a try block and has a corresponding catch block for an ArithmeticException. "test" just does a divide by 0. There is no try/catch inside test.

So, in the dexdump, there is no catch for test, but only for main. So, at first glance, it does not look like "test" has inherited the catch blocks from m

[2012-10-22 17:22] etosch commented on #51
in VM.js, should _classList in `VM::start` now be a classLibrary, or a subset of classes only used by the main class (and will these things even be different?)

[2012-10-22 17:26] jjfiv commented on #51
_classList isn't really needed unless we want to keep it as a convenience. Everywhere we'll need to update:

`vm.start(classes, "mainName");`

with

[code]

[2012-10-22 17:29] jjfiv commented on #8
The test looks good. You've raised a new detail:

Dividing by zero will need to throw an arithmetic error.

Right now we don't check anything - this will be in 'icodeExecute.js'

I'd like to just wrap this in as part of you implementing throw, if
possible. Or make a new issue, whichever you'd rather.

On 10/22/2012 01:11 PM, guptha- wrote:

[2012-10-22 17:57] guptha- commented on #8
For divide by zero, we just need to implement catch for the default exception type thrown right? Do we need to do anything to actually throw it? Doesn't it happen automatically?

Edit: I see what you mean now.

[2012-10-22 19:57] jjfiv commented on #8
javascript might throw some sort of exception automatically, but if it
does, we'll have to catch it, and throw an
"L/java/lang/ArithmeticException" appropriately. Since we're faking
threads, we can't count on Javascript exceptions doing the work for us.

[2012-10-22 23:42] etosch opened #76 "update design doc"
The [Design Document](https://github.com/jjfiv/dalvik-js/wiki/Design-Document) is several weeks old. It will need to be expanded for our final report thingie. We'd like to just use the wiki to produce any of the final documentation we'll need for the project.

[2012-10-22 23:42] etosch commented on #51
Ready to close?

[2012-10-22 23:45] etosch commented on #52
I'm assigning this to myself, since it ought to be a fairly easy extension beyond what I've already done with `ClassLibrary`.

Opinions?

[2012-10-23 00:18] jjfiv commented on #52
Perfectly fine so long as you have time alongside your midterm to work on it.

[2012-10-23 00:23] jjfiv opened #77 "factorial.dex fails running because "move" is not implemented"

[2012-10-23 00:23] jjfiv commented on #24
Looks good. As of recent commits, dex files is loaded, and can be chosen and run from index.html

[2012-10-23 00:23] #24 closed, assigned to nobody

[2012-10-23 00:25] jjfiv commented on #51
This is ready to be closed. I foresee some future changes needed, but definitely good for now.

[2012-10-23 00:25] #51 closed, assigned to nobody

[2012-10-23 00:30] jjfiv opened #78 "MethodSignature.prototype.isMain needs to be more specific"
Right now it just compares names, but in java a `main(V)V` is not a valid entry point.
We need to check the return type and the parameter types.

[2012-10-23 03:00] jen4ik commented on #78
Why would it return "this._name" and not true or false?

[2012-10-23 03:04] jen4ik commented on #78
Or was it just a stub and it's a very silly question? (:

[2012-10-23 03:11] etosch commented on #78
Are you sure you're looking at the right method? `MethodSignature::isMain` returns a boolean; `MethodSignature::getName` is immediately below it and returns this._name

[2012-10-23 14:20] jjfiv commented on #78
Update: making this more type specific has created some problems in vmtest; Jennie is looking into it.

[2012-10-23 16:02] jen4ik commented on #33
implemented

[2012-10-23 16:02] #33 closed, assigned to nobody

[2012-10-23 16:13] #34 closed, assigned to nobody

[2012-10-23 16:49] #42 closed, assigned to nobody

[2012-10-23 16:49] #41 closed, assigned to VJD215

[2012-10-23 22:01] #78 closed, assigned to jen4ik

[2012-10-23 22:01] jjfiv commented on #77
Fixed by Guptha, in addition to a lot of other issues. Issue tracking out loud today...

[2012-10-23 22:01] #77 closed, assigned to nobody

[2012-10-23 22:35] #43 closed, assigned to nobody

[2012-10-24 12:29] #36 closed, assigned to VJD215

[2012-10-24 12:30] #31 closed, assigned to jen4ik

[2012-10-24 16:12] jjfiv commented on #53
We're going to attempt (as long as possible) to store adjacent "wide" chunks in a single register (ie. a glong in register 1 instead of half in reg 1 and half in reg 2)

[2012-10-24 16:12] #53 closed, assigned to jjfiv

[2012-10-24 16:13] jjfiv commented on #20
There is a thoroughly tested `AddressTranslator` step, and `icodeGen.js` only lacks support for three opcodes. These will be tracked separately.

[2012-10-24 16:13] #20 closed, assigned to nobody

[2012-10-24 16:15] #65 closed, assigned to VJD215

[2012-10-25 01:01] #35 closed, assigned to jen4ik

[2012-10-25 01:02] jen4ik commented on #19
The file finishes loading
Put an exception:
Uncaught Exception: Proxy already loaded

[2012-10-25 20:44] #52 closed, assigned to nobody

[2012-10-25 20:44] #21 closed, assigned to jjfiv

[2012-10-25 20:45] jjfiv commented on #19
I think we will target loading only a portion of this file, it has 1044 native methods... Proxy error will go away.

[2012-10-25 20:45] #19 closed, assigned to jen4ik

[2012-10-28 18:03] etosch opened #79 "clear vm stack after failure"
When we run a program and it fails, the VM retains its current state, so we cannot run a new file. Clear the stack (but keep the ClassLibrary) after executing a run.

[2012-10-28 18:08] etosch opened #80 "clear and reload list of runnable classes after clicking load file button"
Right now the list just repopulates so we have duplicates showing up.

[2012-10-28 22:41] #79 closed, assigned to nobody

[2012-10-28 22:41] #80 closed, assigned to nobody

[2012-10-28 22:46] etosch opened #81 "make a list of the opcodes used by each of the test files"
To ensure opcode coverage, we need test files that call each of the opcodes. There are currently test files in tests and vmtest. We need documentation on the opcodes that our current test cases cover, as well as those that remain.

There is a cursory "icode" tracker written that can be modified (it hasn't been modified for several weeks now). The opcodes can also be read in disassembled dex files.

[2012-10-28 23:00] etosch opened #82 "throw exception when we try to find a class that is not in the class lib"
Inner classes were not showing up in the ClassLibrary due to peculiarities of the dx tool. ClassLibrary should throw an exeception on findClass when this happens.

[2012-10-28 23:06] etosch opened #83 "move super inside invoke"
Move functionality at the top of icodeExecute inside the handlers, leveraging the **classLibrary** hidden global var. This var holds a reference to the last library loaded. It was a hack to make Instance able to learn its class without altering the constructor. I also tried adding a reference to ClassLibrary to the prototype chain, but this not only seemed philosophically incorrect, it didn't work

[2012-10-28 23:16] etosch opened #84 "something funny happened on the GOTO FORUM"
goto/switch returning results, not setting result register - seems to be inconsistent with the model. explanation?

[2012-10-28 23:23] etosch opened #85 "check-cast"
Throw a ClassCastException if the reference in the given register cannot be cast to the indicated type.
Note: Since A must always be a reference (and not a primitive value), this will necessarily fail at runtime (that is, it will throw an exception) if B refers to a primitive type.

My current implementation is more permissive than this; I believe it would allow "references"  to primitive types to

[2012-10-28 23:50] etosch opened #86 "something wrong with return"
the CheckCast test case has methods that return strings to be printed. These strings are being lost somewhere after the return call. Figure out where.

[2012-10-28 23:56] etosch commented on #86
In the spec, the instruction is listed as holding the return value in a "value" register. In the code the return value is being accessed via a "src" register.

[2012-10-29 00:08] etosch opened #87 "add CheckCast to test suite"

[2012-10-29 00:41] jjfiv commented on #84
This is something you and I coded together, a very long time ago. :)

The result register is part of the actual VM spec; this is a part of our architecture - namely that if an icodeHandler returns nothing, it means the thread should increment the pc + 1; otherwise, it should increment the pc by the value returned. This is why `goto` and `switch` are returning values --- `if` should also return a v

[2012-10-29 00:45] etosch opened #88 "test instance-of"
Develop a test that uses the instance-of opcode and verify that our implementation works.

[2012-10-29 00:45] jjfiv commented on #86
Is this done now?

[2012-10-29 00:46] etosch commented on #86
it works for the CheckCast test, which was returning strings. Since types don't matter, I think it's fine.

How is the java ternary op implemented? Is that worth testing?

[2012-10-29 00:47] jjfiv commented on #82
Does this need to be a secondary pass? After all classes are loaded, check to make sure that each classes parents and all their references are in the class library? I don't know how well this will work for the part of the standard library I mangled.

[2012-10-29 00:48] etosch commented on #82
Well in the event that there's a dexing problem, I do think so. It took me a while to figure out what was wrong when the innerclasses weren't loading. I'll throw a line of code in there and see if it breaks anything...

[2012-10-29 00:48] jjfiv commented on #86
Should compile down to `cmp` and `goto`s or `if`s. Just syntactical sugar at the bytecode level. It will be calculated separately, and that register handed to the `return`.

I'll call it done.

[2012-10-29 00:48] #86 closed, assigned to nobody

[2012-10-29 00:50] jjfiv commented on #82
I see what you're saying now. I think inner classes are an obvious test/assert win. I think if you try to extend that assertion to _any_ class, rather than just inner classes, things will break fast.

I imagine you'll be filtering the type list to do this?

[2012-10-29 00:51] jjfiv commented on #85
I think you implemented this without an assert; we really need to see what Java does, if it's not a compile error, before we make it an assert.

[2012-10-29 00:52] etosch commented on #82
Yeah, I can just filter with a regex. Though I'm testing with all classes first, because I won't believe what you say, that it'll break, until I try it myself...

[2012-10-29 00:53] jjfiv commented on #83
I think you removed the hidden global variable, having glanced over the commits. Is this issue still relevant?

If that was another global, can we update the Instance constructor instead? I strongly feel this is a better option if possible.

[2012-10-29 00:54] etosch commented on #85
Yeah, now it just has the check for whether it's a primitive. I'm not sure what to do; we could stick an assert in to be safe and make the call of whether or not we really need once we get a few more data points...

[2012-10-29 01:00] etosch commented on #83
Yeah, I didn't realize there was a ref to the VM inside each thread. I still think the super method should be compressed and shoved inside invoke. Right now it's a mosh posh of special cases, so it really needs to be cleaned up.

So are you saying you think it would be better to have a reference to the classLibrary inside the Instance constructor? My biggest qualm with that is that it's extra args

[2012-10-29 01:06] etosch commented on #82
I just tested without the filter and everything seems to be fine. We'll see if that holds for the rest of the week.

[2012-10-29 01:06] #82 closed, assigned to nobody

[2012-10-29 01:18] jjfiv commented on #83
The only invocations of the "Instance" constructor, confirmed by grep is
within "src/Class.js", so refactoring shouldn't be a problem at this
point in the game. People should only make instances by going
"someClass.makeNew" ... I think.

On 10/28/2012 09:00 PM, etosch wrote:

[2012-10-29 01:28] etosch opened #89 "make invoke less hideous"

[2012-10-29 01:31] etosch commented on #84
Got it!

[2012-10-29 01:31] #84 closed, assigned to nobody

[2012-10-29 02:06] jjfiv opened #90 "fill-array-range test doesn't work"
Utilizes java.lang.Reflect in order to fill out a six-dimensional array. [Source](https://github.com/jjfiv/dalvik-js/blob/c0ceede189b1c6df13f72f1514bd566cabe9f7d7/sample/arraytest/FillArrayRange.java)

[Relevant Disassembly](https://github.com/jjfiv/dalvik-js/blob/c0ceede189b1c6df13f72f1514bd566cabe9f7d7/sample/arraytest/FillArrayRange.txt#L49)

This is lower priority than exceptions, stringbuilde

[2012-10-29 02:11] jjfiv opened #91 "Preliminary java/lang/Thread investigation"
Some reading material on [Threads in Java](http://en.wikibooks.org/wiki/Java_Programming/Threads_and_Runnables)

I was remembering incorrectly; `run()` is on a user subclass of `Runnable`, not of `Thread` so we'll need to do that.

We'll probably need hooks inside of `new-instance` to manufacture our own "synthetic" Thread objects, and we'll need hooks in invoke to catch all the methods...

I thin

[2012-10-29 02:15] jjfiv commented on #89
Maybe a part of #91

[2012-10-29 02:17] jjfiv opened #92 "primitive-cast test is hard to read and fails"
I totally shouldn't have made it output "true" x 12

Outputting the numbers its coming up with is the first step toward determining and fixing why it is failing.

[2012-10-29 02:19] jjfiv commented on #26
Is this resolved along with #80?

[2012-10-29 03:08] etosch commented on #26
Yup. closing now.

[2012-10-29 03:08] #26 closed, assigned to nobody

[2012-10-29 03:55] etosch commented on #89
Yeah...I almost think that, given the scale of what this might become, we ought to kick it to another file, like an invoke.js.

[2012-10-29 10:59] etosch commented on #88
It looks like the dest and src registers might be swapped (this was an issue earlier in the dalvik spec for some other instructions, right?).

[2012-10-29 11:18] etosch opened #93 "global abatement"
create a global.js to hold things of global interest. include in here typing info for classes, isA, etc.

[2012-10-29 11:20] etosch opened #94 "interface array type"
The class object has an instance array in it. What is the intended type of this array?

Also, link to next issue : testing interface implementation. (#95)

Finally, what's this :+1:

[2012-10-29 11:21] etosch opened #95 "interface testing"
write a java program that tests interface implementation, as mentioned in #94

Also, what's this? :-1:

[2012-10-29 12:05] jjfiv commented on #94
I believe dexloader fills it out with types.

On 10/29/2012 07:20 AM, etosch wrote:

[2012-10-29 12:14] etosch commented on #94
Okay; I'm going to push this shortly. Wanted to get your opinion on some things. Think we ought to go into lockdown on some stuff - after this point I think we should have everyone stage their code in a branch before merging and the code should be reviewed before doing so. I'm trying to iron out some inconsistencies right now and I think separate branches here on out would be good for that.

[2012-10-29 13:23] etosch commented on #93
Please everyone take a look at [global.js](https://github.com/jjfiv/dalvik-js/blob/master/src/global.js) and check my work. Some names for things have changed, but globals.js should be a fairly clear breakdown.

Please, however, EVERYONE take a look and make sure everything lines up with the code. I found numerous typo/version errors this weekend that I'm sure we've all made because JS fails silen

[2012-10-29 13:27] etosch commented on #94
Set this in [globals.js](https://github.com/jjfiv/dalvik-js/blob/master/src/global.js).

[2012-10-29 13:27] #94 closed, assigned to jjfiv

[2012-10-29 13:46] etosch commented on #92
For reference: _self.[doc](http://docs.oracle.com/javase/specs/jls/se7/html/jls-4.html#jls-4.2.3)

[2012-10-29 13:49] etosch commented on #92
What's the difference between int-cast and primitive-cast? Should primitive-cast also include boolean casting? It just looks like numbers right now.

[2012-10-29 14:01] jjfiv commented on #92
primitive-cast incudes the following opcodes:
81: int-to-long
82: int-to-float
83: int-to-double
84: long-to-int
85: long-to-float
86: long-to-double
87: float-to-int
88: float-to-long
89: float-to-double
8a: double-to-int
8b: double-to-long
8c: double-to-float

int-cast includes the following opcodes:
8d: int-to-byte
8e: int-to-char
8f: int-to-short

booleans are distinguished by being zero or no

[2012-10-29 17:09] jjfiv commented on #95
especially `invoke-interface`

[2012-10-29 17:15] etosch commented on #95
Writing up a java file and the dexing this should take under an hour -- assign to Gupta? That should be fine for him if he doesn't have much time today. So what we would want is:

1) define an interface (since we don't want to have to deal with the standard library issue)
2) write a java class that implements that interface
3) dex those files
4) test the dex'ed file using src/index.html
5) if this

[2012-10-29 17:19] etosch commented on #92
post a deadline on this?

[2012-10-29 17:38] etosch commented on #92
stupid question: where's TYPE_FLOAT et al defined? icodeGen sets things to stuff like this, but I don't know where it's getting it from...

[2012-10-29 17:45] guptha- commented on #92
In Type.js. Deadline? I am thinking Thursday.

[2012-10-29 17:49] etosch commented on #92
When is the deadline for the project? Isn't it Thursday at midnight? Considering that we have to write things up before then, I don't think coding at that point in time is wise. Can you give an estimate on how long this will take you? At a minimum, could you write a java file that tests each case of primitive casting, gleaning examples from the doc posted above? That shouldn't take more than a hal

[2012-10-29 17:52] jjfiv commented on #92
The project Deadline is Sunday at midnight

On 10/29/2012 01:49 PM, etosch wrote:

[2012-10-29 17:53] guptha- commented on #92
I understood it to be Sunday at midnight. John, can you clarify? If it is
Thursday, I will put in more effort and consider taking an extension for my
AI assignment.

-Guptha

On Mon, Oct 29, 2012 at 1:49 PM, etosch notifications@github.com wrote:

[2012-10-29 17:55] etosch commented on #92
John - That's a deadline with a capital D?

Gupta - If it's possible to take an extension, that would help out a lot. I think now is the time to push forward and having the flexibility of this week would be a huge boon to productivity.

[2012-10-29 17:59] guptha- commented on #92
An extension now will be an assignment deadline on Monday. I think that
will not be conducive to a Sunday night project deadline. This way, I am
free of it Wednesday morning and then I can concentrate on the project till
the deadline.

On Mon, Oct 29, 2012 at 1:55 PM, etosch notifications@github.com wrote:

[2012-10-29 18:01] jjfiv commented on #92
@etosch Sunday night is the extension that we got on Thursday. This is a hard deadline barring any Frankenstorm extensions.
@guptha- Use your best judgment.

[2012-10-29 18:11] guptha- commented on #92
I would rather not context switch unless I can't help it. I will be working on this issue tomorrow. So, Thursday is a worse case deadline for the issue.

[2012-10-29 19:05] etosch commented on #91
I'm going to write some loosely connected statements to make sure I understand everything correctly. Since I promised to post within the hour, this is incomplete. I'll be editing, but I wanted to get it into the pipeline first (haw haw), since I'm not terribly effective at the superscalar thing (haw haw).

We have a notion of threads inside the VM. This is our Thread.js

Java has its own Thread ob

[2012-10-29 19:39] etosch commented on #91
So looking back on your original comment, it seems like there are two ways to proceed: do it ad hoc via intercepts (ie the above first pass commentary) or implement a kind of staging area. Do you think we can slip something between dexLoader and starting the VM to encapsulate thread behavior? We could hook it up to executing code by tagging stackframes with the thread responsible for their behavio

[2012-10-29 19:43] etosch opened #96 "invoke-super"
Report any issues with `invoke-super` here. `invoke` code will likely move soon, so just make sure you push/pull and post any updates, problems etc. You mentioned having an issue with `invoke-super`. If you could post a detailed description of the problem, someone might be able to help.

[2012-10-29 19:45] jjfiv commented on #91
Getting the current "VM Thread" from the current "VM Stackframe" should be easy.

My idea was kind of that we could create a class with a bunch of methods that would have "native" elements rather than "icode" elements, or something.

We can also clean up the invoke, like you described.

I honestly don't think it matters. We're still going to need to collect the hacks in one place -- whether that's

[2012-10-29 19:47] etosch commented on #91
So maybe a first pass in `invoke`:question: I hate to be that person, but maybe this problem would be best solved via test-driven development? :hammer: :hammer: :hamburger:

[2012-10-29 19:52] etosch commented on #91
Anything thoughts on java.util.Random vs native javascript random?

[2012-10-29 19:54] jjfiv commented on #91
java.util.Random isn't exactly on my list to implement. Wish-list
feature, if we're done Saturday. Same goes for scheduling algorithms,
unfortunately.

On 10/29/2012 03:52 PM, etosch wrote:

[2012-10-29 19:54] jjfiv commented on #91
If by Test-Driven Development, you mean, create a java file and push it
through, then absolutely. Doing any significant design without a test
case to work toward would be irresponsible.

On 10/29/2012 03:47 PM, etosch wrote:

[2012-10-29 19:59] etosch commented on #91
Okay, so for now we're going to ignore random instructions? throw an error? supply hard-coded instructions? use native javascript random?  I guess my vote goes towards saying that we won't support it.

Yeah I don't know if test-driven development is what they call it; I think it's a buzzword I heard somewhere and using my superior powers of reading comprehension I grafted some meaning onto it to s

[2012-10-29 20:01] jjfiv commented on #91
I didn't read all of your investigation; I'll look into what kind of
randomness you're talking about because we don't seem to be on the same
page. There is no "random" instruction in Dalvik, so if we need it for a
library call, we can use javascripts, if necessary.

On 10/29/2012 03:59 PM, etosch wrote:

[2012-10-29 20:04] jjfiv commented on #91
Ah, I see, random is totally my fault. Let's just come up with examples that avoid randomness for now. Getting something working with Threads is first; getting them scheduled better is after that.

[2012-10-29 20:04] etosch commented on #91
:+1:

[2012-10-30 04:01] guptha- commented on #92
The error was fixed. Some of the outputs are failing. I fixed one of them and pushed, but will revisit tomorrow to get the rest fixed.

[2012-10-30 16:15] guptha- commented on #92
@jjfiv The output is 1 instead of true for a match and 0 instead of false for different values. This is encoded into the dex and does not match the behavior of the Java program. Ideas?

Should I just output the number it is supposed to be?

[2012-10-30 16:17] jjfiv commented on #92
This is an unresolved special case of println --- if the type is
boolean, we need output either "true" or "false"

On 10/30/2012 12:15 PM, guptha- wrote:

[2012-10-30 16:20] guptha- commented on #92
There is no real way to differentiate whether it is a boolean or not by the time it comes to the println.

[2012-10-30 16:23] jjfiv commented on #92
You'll have to look at println's signature. println should be of type
(B)V (take a boolean, return a void)

On 10/30/2012 12:20 PM, guptha- wrote:

[2012-10-30 17:05] guptha- commented on #92
Added a condition to invoke in icodeExecute to get that to work. In
testSeveralMethods, in the last println, why is 0 expected?

On Tue, Oct 30, 2012 at 12:23 PM, John Foley notifications@github.comwrote:

[2012-10-30 17:06] jjfiv commented on #92
@etosch, you wrote the test, do you know?

On 10/30/2012 01:05 PM, guptha- wrote:

[2012-10-30 17:18] etosch commented on #92
It ought to return a comparison of two variables (boolean).

On Tue, Oct 30, 2012 at 1:06 PM, John Foley notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 17:20] etosch commented on #92
Here:
https://github.com/jjfiv/dalvik-js/blob/master/tests/testSeveralMethods.java#L41

On Tue, Oct 30, 2012 at 1:18 PM, Emma Tosch etosch@gmail.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 17:20] guptha- commented on #92
Should the values be the same? In that case, I will change the expected
value to "true" - the test case fails if that is so.

On Tue, Oct 30, 2012 at 1:18 PM, etosch notifications@github.com wrote:

[2012-10-30 17:23] etosch commented on #92
What exactly are you changing?

On Tue, Oct 30, 2012 at 1:20 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 17:23] guptha- commented on #92
Yes, I saw that. From the code, I expected the expected output to be 3==3
which is "true", which previously was 1. But the output you expect is 0,
which is equivalent to "false"

On Tue, Oct 30, 2012 at 1:20 PM, etosch notifications@github.com wrote:

[2012-10-30 17:26] jjfiv commented on #92
@etosch I need you to stay on threads
@guptha- It does look like that should output true. Can you look into it? / Run it in the JVM to be sure?

[2012-10-30 17:27] guptha- commented on #92
Boolean 0s will now print false and boolean 1s will now print true.

On Tue, Oct 30, 2012 at 1:23 PM, etosch notifications@github.com wrote:

[2012-10-30 17:28] etosch commented on #92
Oh yeah, I just copied and pasted and didn't really check the actual
output. :-/ sorry about that. It should be outputting true.

On Tue, Oct 30, 2012 at 1:23 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 17:28] etosch commented on #92
I just ran with java to check the output and yes it should be true. The
test in vm is wrong.

On Tue, Oct 30, 2012 at 1:26 PM, John Foley notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 17:28] etosch commented on #92
er i mean, the test in vmtest that I added to the suite is wrong.

On Tue, Oct 30, 2012 at 1:27 PM, Emma Tosch etosch@gmail.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 17:29] guptha- commented on #92
Yeah, the java output is true. OK, I will trace it.

On Tue, Oct 30, 2012 at 1:26 PM, John Foley notifications@github.comwrote:

[2012-10-30 17:29] etosch commented on #92
@gutpta - got it. good catch. Don't know what's up.

On Tue, Oct 30, 2012 at 1:27 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 17:32] guptha- commented on #92
I will debug, now that primitive cast is done and dusted and I still have
30 minutes before I have to switch over :)

On Tue, Oct 30, 2012 at 1:29 PM, etosch notifications@github.com wrote:

[2012-10-30 17:37] etosch commented on #92
Yay!!! POWER MOVES.

On Tue, Oct 30, 2012 at 1:32 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 17:57] guptha- commented on #92
When I do python dex2js.py
../dex_testcases/testServalMethods/testSeveralMethods.dex in vmtest folder
and load vmtest/index.html, I get an error:
"Error: assert failed: Total number of registers (0) should at least
accomodate arguments (1). Failure on valueOf"

It looks as though the testSeveralMethods.dex.js in vmtest is outdated and
the newly generated one is screwed up/ I am doing something com

[2012-10-30 18:06] etosch commented on #92
I found that this happened when I tried calling instance methods and put a
hack in. Did you pull last night or this morning?

On Tue, Oct 30, 2012 at 1:57 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 18:08] guptha- commented on #92
Just now.

[2012-10-30 18:19] etosch commented on #92
You're going to want to pull again; I just pushed.

On Tue, Oct 30, 2012 at 2:08 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 18:25] guptha- commented on #92
Now I get "ReferenceError: invoke is not defined" for almost all the cases.

[2012-10-30 18:28] jjfiv commented on #92
@etosch looks like invoke.js is missing?

On 10/30/2012 02:25 PM, guptha- wrote:

[2012-10-30 18:29] etosch commented on #92
are you seeing an invoke.js file in src? It should be listed before
icodeExecute.js in index.html. It works for me and my git status isn't
showing anything that's untracked but should be...

On Tue, Oct 30, 2012 at 2:25 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachuset

[2012-10-30 18:31] etosch commented on #92
okay, I just pushed again. I don't think I saved any new untested changes,
but I can't be sure...

On Tue, Oct 30, 2012 at 2:28 PM, Emma Tosch etosch@gmail.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 18:37] jjfiv commented on #92
Might just need to add "invoke.js" to vmtest/index.html

On 10/30/2012 02:31 PM, etosch wrote:

[2012-10-30 18:40] etosch commented on #92
Ah yes, all of my testing has been inside src/index.html, since I'm
manually adding tests in the tests folder...

On Tue, Oct 30, 2012 at 2:37 PM, John Foley notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 18:41] guptha- commented on #92
You are right. :)

On Tue, Oct 30, 2012 at 2:37 PM, John Foley notifications@github.comwrote:

[2012-10-30 18:44] etosch commented on #92
This is the testSeveralMethods dex file I've been using to test manually in
src/index.html.

On Tue, Oct 30, 2012 at 2:41 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-30 20:29] etosch opened #97 "interface inheritence?"
interfaceOf only checks the class's currently implemented interfaces. Not sure whether the case where a class subclasses something that implements an interface will show up. Any thread subclass should check this, since Thread implements Runnable.

[2012-10-30 21:03] etosch commented on #97
Definately not. BUT I can grab the parent and search its interfaces.

[2012-10-30 21:24] etosch opened #98 "no Ljava/lang/Object; in ClassLibrary"
This object isn't loaded at all.

[2012-10-30 21:26] jjfiv commented on #98
Doesn't seem to exist; we'll have to fake any references to it.

On 10/30/2012 05:24 PM, etosch wrote:

[2012-10-30 21:27] etosch commented on #98
cool story, bro.

[2012-10-30 21:49] etosch commented on #98
How about initializing ClassLibrary with a synthetic Ljava/lang/Object; ?

[2012-10-30 21:51] jjfiv commented on #98
Whichever you feel more like doing.

On 10/30/2012 05:49 PM, etosch wrote:

[2012-10-31 02:49] #98 closed, assigned to nobody

[2012-10-31 02:49] #97 closed, assigned to nobody

[2012-10-31 02:50] etosch commented on #96
@jen4ik, what's the status on `invoke-super`?

[2012-10-31 03:04] jen4ik commented on #96
The status is that I spend time looking for changes made to code that I'm working on because people who modify it don't notify upon significant changes such as moving the code to a new file!!!

[2012-10-31 03:05] etosch opened #99 "thread hack causes other tests to fail"
I had the following problem with threads: when executing a method that called others thread, I'd run the pc down past all of the icodes and cause a failure due to a null reference when printing the status string. The hack can be seen [here](https://github.com/jjfiv/dalvik-js/blob/master/src/Thread.js#L119). However, this causes problems with [testSeveralMethods](https://github.com/jjfiv/dalvik-js/

[2012-10-31 03:08] etosch commented on #96
That's not a status; could you post what the specific problems are (e.g.
errors, state of the interpreter, etc), what test case you're using (with a
link), and the estimated time to fix the problem, along with your
availability?

On Tue, Oct 30, 2012 at 11:04 PM, jen4ik notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS

[2012-10-31 03:11] jen4ik commented on #96
That is the statement of my specific problem

[2012-10-31 03:12] etosch commented on #96
The change was dicussed in #91, among other places. Always remember to stage and commit your work in the event of a manual merge, push code when you think you'll be away from it for a while, and pull before starting anew.

[2012-10-31 03:15] etosch commented on #96
ah yes, but what is the problem with the output and what are the
impediments to `invoke-super` 's implementation? This would be of greater
interest to the group.

On Tue, Oct 30, 2012 at 11:11 PM, jen4ik notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.

[2012-10-31 03:17] jen4ik commented on #96
There is a difference between saying a change might be done, and then actually doing it and not notifying the other person that is working closely with the code.
I do always pull before I start working, but I cannot guess which changes I should be particularly looking for in such a broad project.

[2012-10-31 03:17] etosch commented on #95
@jjfiv, what's the priority on this? No one is currently assigned.

[2012-10-31 03:20] jjfiv commented on #95
Low, right now. I feel like it would conflict (possibly heavily) with invoke-super world #96.

[2012-10-31 03:26] etosch commented on #96
It's posted in the original commentary of this thread. I'll put it in _bold_ next time.  Please post an actual update however; it can even be something as simple as the following:

"I thought I had `invoke-super` working, but when I ran <filename>.dex in <webpage>.html, it threw a <name of error>'

If you observe anything about the state of the interpreter that's worth noting, please include that

[2012-10-31 03:29] etosch commented on #96
damn. stars make italics. /is this emboldened?/

Finally, as a wise fool, here's a word of advice: take initiative! It's grad school, after all. From the detritus of failure and trampled egos, the willful rise again.

[2012-10-31 03:40] etosch opened #100 "implement sleep for threads"
[ThreadTest] (https://github.com/jjfiv/dalvik-js/blob/master/tests/ThreadTests/ThreadTest.java) currently only tests a single sub thread, from class [ThreadB] (https://github.com/jjfiv/dalvik-js/blob/master/tests/ThreadTests/ThreadB.java). Class [ThreadA] (https://github.com/jjfiv/dalvik-js/blob/master/tests/ThreadTests/ThreadA.java) sleeps for a time. The code in TestThread needs to be uncommente

[2012-10-31 03:42] jen4ik commented on #96
I shall restate my initial comment - saying something might happen, which only happened a day after the initial issue appeared, doesn't not mean I actually know when it HAS indeed happened unless it's brought to our attention.

Regarding invoke-super - it is now working (i.e. no errors are thrown).
However, I am not certain that the correct registers are being passed to the invoked method, as the

[2012-10-31 03:43] jen4ik commented on #96
Availability - I have an assignment due on Thursday, should be able to spend most of my time on the VM after that

[2012-10-31 03:45] jjfiv commented on #96
@jen4ik - if the issue you're talking about with instance-get/put is
what we talked about this afternoon, put an issue in for it.

On 10/30/2012 11:42 PM, jen4ik wrote:

[2012-10-31 03:46] etosch opened #101 "Object functions"
[ClassLibrary](https://github.com/jjfiv/dalvik-js/blob/master/src/ClassLibrary.js#L5) is now instantiated with an Object constructor. We had been [putting off](https://github.com/jjfiv/dalvik-js/blob/master/src/invoke.js#L58) implementing [Object](http://docs.oracle.com/javase/1.5.0/docs/api/java/lang/Object.html) methods, but now need to bring that to the forefront, since with multithreading, wai

[2012-10-31 03:48] etosch commented on #96
What is the test file for invoke-super?

On Tue, Oct 30, 2012 at 11:45 PM, John Foley notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-31 03:50] jen4ik commented on #96
@etosch - Bird.dex

[2012-10-31 03:51] etosch opened #102 "integrate src/index.html and vmtest/index.html"
Implement uploading of ad hoc test files in vmtest/index.html and remove src/index.html. ad hoc testing should still be implemented in tests, until the test is stable and can be added to the automated vmtest/index.html

[2012-10-31 03:57] jen4ik commented on #96
@jjfiv I think there are 2 issues here
1. It is the one we talked about earlier today (I'll open an issue)
2. When we first talked about where should I put the invoke-super code, you suggested putting it before the code Emma wrote for register handling in invoke. I'm not sure that it's working the right way, but I need to investigate further.. The upside - we can use programs with calls to invoke-

[2012-10-31 03:59] jjfiv commented on #96
Based on 2., have you checked in your code? It's entirely possible that
all the issues you're seeing are from instance-get.

If you have questions about where to put invoke code, I'll have to
direct you to @etosch, because I haven't touched it in a long time.

On 10/30/2012 11:57 PM, jen4ik wrote:

[2012-10-31 04:00] jen4ik opened #103 "Strings are not assigned to fields in class instances"
When printing class field, "undefined" is printed
Suspects: either instance-get or instance-put (leaning towards instance-put)

[2012-10-31 04:01] etosch opened #104 "formalize new Thread structure"
Using some of the information in #91 and the [Java Thread doc](http://docs.oracle.com/javase/1.5.0/docs/api/java/lang/Thread.html), formalize the new Thread structure and update [global.js](https://github.com/jjfiv/dalvik-js/blob/master/src/global.js) accordingly.

[2012-10-31 04:03] etosch commented on #93
Post Threads, globals need to be updated. This will depend on issue #104. Right now isA isn't used anywhere on Threads, but if it is in the future without global.js being updated, it will fail.

[2012-10-31 04:04] etosch commented on #93
@jjfiv SWIM should be assigned this; it's a good exercise for learning the new structure. Any questions regarding the new structure can be posted here.

[2012-10-31 04:04] jen4ik commented on #96
Yes, the code has been pushed, sorry, forgot to mention

It's not exactly a matter of where putting the code, but what is done with the registers that are supposed to be used (and / or how to override using the registers specified in the method call at the super class)
Could this mean re-parsing the method call so we can replace registers? (very not wanted)

[2012-10-31 04:09] etosch commented on #89
@jjfiv  - priority on this? Also, could you send a mail on tasks/priorities? Doesn't need to be too soon - focus on getting your IR stuff done. I can also do this tomorrow morning, if you let me know what you think the top goal in the next 24 hours is.

[2012-10-31 14:31] etosch commented on #95
Just ran the tests pushed in [this commit](https://github.com/jjfiv/dalvik-js/commit/9ff45357cae3a4c708e30e74ad2dd181352e3f97). `invoke-interface` isn't called. Given the way that `invoke-interface` is described in the [bytecode docs](http://source.android.com/tech/dalvik/dalvik-bytecode.html), it looks like there's some Java technique we'll need to test - like, implementing an interface on the fl

[2012-10-31 15:12] etosch opened #105 "collections"
@jjfiv - what would it take to implement collections?

[2012-10-31 15:22] VJD215 opened #106 "vmtest/index.html not working"
When I run the vmtest/index.html file I'm getting a ReferenceError: isA is not defined, this is pointing to util.js (  if(isA(obj, 'Thread')){ return obj.uid+":"+obj.state;}. any thoughts?

[2012-10-31 15:41] etosch commented on #106
If you poke around on the wiki, you'll find a page that has some grep
tricks. I'd suggest using those to find which files call isA.

How do each of our javascript files "see" each other?  If you look at the
top of each .js file, you'll notice that we've manually entered the
dependencies. There are no calls to use namespaces or import libraries;
instead, all that linking type stuff happens in the b

[2012-10-31 16:16] jjfiv commented on #95
Maybe try some variations of

[code]

[2012-10-31 16:17] jjfiv commented on #105
It looks like collections are heavily written in C/C++, so it would possibly be a lot of Javascript work.

[2012-10-31 16:19] etosch commented on #105
So we're not going to be able to call anything that uses LinkedLists, etc?

On Wed, Oct 31, 2012 at 12:17 PM, John Foley notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-31 16:21] jjfiv commented on #105
Not likely. java.util. was kind of a minefield. I'd be happy to send you the files to look through, but I think it's out of scope for now (short of a few miracles)

[2012-10-31 16:22] jjfiv commented on #101
So this is very tied to getting all features of Threads?

[2012-10-31 16:24] jjfiv commented on #96
If code has been pushed, is this issue complete? Or is there still an open issue about registers? (Blocked by the instance-get issue? #103?)

[2012-10-31 16:24] etosch commented on #105
So did the doppio people not do this?

On Wed, Oct 31, 2012 at 12:21 PM, John Foley notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-31 16:26] jjfiv commented on #105
They are using a slightly different JCL; it's possible that the
non-Dalvik one is less native. I can take a look at this later.

On 10/31/2012 12:24 PM, etosch wrote:

[2012-10-31 16:26] jjfiv commented on #91
Is this closed now that subissues have been created?

[2012-10-31 16:26] etosch commented on #101
Yes, well, mainly synchronization.

BTW I uploaded a homework assignment I had on synchronization. Since it was
homework, it covered a lot of ground. Unfortunately, it uses collections. I
can modify the Java to use an array with synchronized access, as
appropriate.

On Wed, Oct 31, 2012 at 12:22 PM, John Foley notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computationa

[2012-10-31 16:27] etosch commented on #91
Not yet; I need to review the thread and make sure all comments/concerns
are covered by the new issues. I'll close after addressing these.

On Wed, Oct 31, 2012 at 12:26 PM, John Foley notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.

[2012-10-31 16:27] jjfiv opened #107 "Get StringBuilder to work"
Easy enough to generate a test-case: `System.out.println("any concat: " + 7)`

[2012-10-31 16:29] jjfiv commented on #89
Invoke is less hideous now that it's in its own file, I believe?
@etosch

[2012-10-31 16:29] jjfiv commented on #88
Is this closed?

[2012-10-31 16:30] jjfiv commented on #83
I think this is happy, too?

[2012-10-31 16:30] etosch commented on #89
No, it's still abominable. The others might want to weigh in on its
readability.

On Wed, Oct 31, 2012 at 12:29 PM, John Foley notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-31 16:31] jjfiv commented on #76
Moved to Google docs a week or so back, also a dup of #29

[2012-10-31 16:31] #76 closed, assigned to nobody

[2012-10-31 16:31] etosch commented on #88
Yes, but it currently fails due to #99, which ought to be very high
priority.

On Wed, Oct 31, 2012 at 12:29 PM, John Foley notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-31 16:32] #88 closed, assigned to nobody

[2012-10-31 16:32] etosch commented on #83
This can be closed; my issues with its current implemenetation will be
resolved with #89.

On Wed, Oct 31, 2012 at 12:30 PM, John Foley notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-10-31 16:34] jjfiv commented on #85
There seems to be a separate issue #87 for testing this, so I'm going to close-hammer this one.

[2012-10-31 16:34] #85 closed, assigned to nobody

[2012-10-31 16:34] #83 closed, assigned to nobody

[2012-10-31 16:36] jjfiv commented on #56
May be blocked by #99 but I don't want to lose sight of it.

[2012-10-31 16:40] jjfiv commented on #106
Probably need to include a file in vmtest/index.html; if src/index.html works that means that that file is properly included in src/index.html

[2012-10-31 17:40] emeryberger commented on #105
IIRC they are using GNU Classpath.

##

Professor Emery Berger
Department of Computer Science
University of Massachusetts, Amherst
www.cs.umass.edu/~emery

On Wed, Oct 31, 2012 at 12:26 PM, John Foley notifications@github.comwrote:

[2012-10-31 18:21] guptha- commented on #92
I am going to close this issue - it passes.

[2012-10-31 18:21] #92 closed, assigned to guptha-

[2012-10-31 18:32] jen4ik commented on #96
IMO, I would not call this happy as long as I cannot make sure that it at least calls the correct registers.
Right now, I cannot be sure whether it's the correct set of registers but they contain garbage, or it's the wrong set of registers

[2012-10-31 19:07] VJD215 commented on #106
missing two files and an update was pushed

[2012-10-31 19:07] #106 closed, assigned to VJD215

[2012-10-31 19:38] jjfiv commented on #105
I will see if I can dex and disassemble the collections library via the Doppio instructions later today. Their readme instructs you how to copy the classes from your installed JVM; they don't explicitly suggest Classpath.

I got the impression that Classpath died since the whole OpenJDK thing.

[2012-10-31 19:50] guptha- commented on #56
The result is moved to another register immediately after the recursive call. Our factorial program works, which is a great indicator that everything is perfect.

The spec also emphasizes moving out the result to another register immediately after executing any op-code that modifies the result register and dx seems to do the same.

I think we are OK. @jjfiv, do you want me to try out something spe

[2012-11-01 16:42] jjfiv opened #108 "Badly formatted code could cause an infinite loop"
Right now, threads are created if something that subclasses Thread is instantiated by the VM; these threads are put in a state called "NEW" and aren't executed.

They are, however part of the thread count, so the VM would not terminate properly (i.e. infinite loop) iff threads are created and never started.

This is low priority because it would require a broken file or some kind of other error in

[2012-11-01 20:15] jjfiv commented on #99
Put my gorilla paws all over your damn code again.

[2012-11-01 20:15] #99 closed, assigned to nobody

[2012-11-01 22:52] jjfiv commented on #56
@guptha- checked in a test earlier, so this is done

[2012-11-01 22:52] #56 closed, assigned to guptha-

[2012-11-01 23:21] #103 closed, assigned to nobody

[2012-11-01 23:22] #96 closed, assigned to jen4ik

[2012-11-02 13:50] VJD215 opened #109 "Threads not returning from execution ( John we spoke about this yesterday)"
[09:30:17.526] starting VM on Xor_Test @ file:///home/vjd215/workspace/dalvik-js/src/VM.js:41
[09:30:17.527] Thread T2 in LXor_Test;.main([Ljava/lang/String;)V
  pc=0
  nextInstr=new-instance
  regs: [0, 0, ] @ file:///home/vjd215/workspace/dalvik-js/src/Thread.js:106
[09:30:17.528] execute new-instance @ file:///home/vjd215/workspace/dalvik-js/src/Thread.js:115
[09:30:17.528] new-instance made: {

[2012-11-02 14:30] jjfiv commented on #109
Please git pull and retest. I believe this issue should have been
resolved last night. Notably, there should only be one failure in
vmtest. If not, please upload Xor_Test somewhere, and I'll get someone
to look into it.

On 11/02/2012 09:50 AM, VJD215 wrote:

[2012-11-02 18:20] etosch commented on #90
Per the dalvik spec, I have an assert in `check-cast` to ensure that the thing being cast is a reference. However, for the array test, we're casting a primitive. Should we remove this condition for throwing a ClassCastException?

[2012-11-03 12:43] #90 closed, assigned to nobody

[2012-11-03 12:44] #102 closed, assigned to nobody

[2012-11-03 12:47] jjfiv commented on #109
Fixed by previous fixes to invoke. Fo shizzle.

[2012-11-03 12:47] #109 closed, assigned to nobody

[2012-11-03 13:11] etosch commented on #95
ready to close?

[2012-11-03 13:27] etosch commented on #95
Testing added...over and out.

[2012-11-03 13:29] jjfiv opened #110 "Preliminary Timing Numbers for Report"
Someone needs to run some sort of benchmarks so as to discuss our initial performance.

[2012-11-03 14:40] etosch commented on #8
Updated code w/Dr Zaius, committed [here](https://github.com/jjfiv/dalvik-js/commit/0818fa014dafd4c7a8b836b3e1a76f19cbb50571), current bug appears to be in dexLoader parsing. Passing responsibility for this on to @jjfiv

[2012-11-03 14:46] jjfiv commented on #8
I accidentally an array index. Fixed now.

[2012-11-03 14:46] #8 closed, assigned to jjfiv

[2012-11-03 14:47] jjfiv opened #111 "dividing by zero should be an ArithmeticException"
One should be able to call `_thread.throwException` with the correct `Instance`

[2012-11-03 14:47] #95 closed, assigned to nobody

[2012-11-03 15:02] jjfiv commented on #89
Invoke was an ugly duckling, but matured into a beautiful swan.

[2012-11-03 15:02] #89 closed, assigned to nobody

[2012-11-03 15:23] jjfiv commented on #93
I like globals.js

[2012-11-03 15:23] #93 closed, assigned to nobody

[2012-11-03 15:24] #55 closed, assigned to nobody

[2012-11-03 15:26] #47 closed, assigned to jjfiv

[2012-11-03 16:25] etosch commented on #46
Close?

[2012-11-03 17:38] etosch commented on #111
ready to close?

[2012-11-03 18:03] jjfiv commented on #111
Added to VMTest, closing.

[2012-11-03 18:03] #111 closed, assigned to nobody

[2012-11-03 19:56] jjfiv opened #112 "combine opcode output in vmtest"
that stuff

[2012-11-03 20:32] jen4ik commented on #75
https://www.gliffy.com/gliffy/#d=4031670&t=class_diagram

[2012-11-03 20:32] #75 closed, assigned to jen4ik

[2012-11-03 21:43] etosch commented on #75
When I click on the above link, I'm sent to an exterior website requesting
a login...

On Sat, Nov 3, 2012 at 4:32 PM, jen4ik notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-11-03 22:20] jen4ik commented on #75
Sent you an invite, it might work
The diagram is too large to fit in a single screen and be readable, so I can't take a snapshot

[2012-11-03 23:09] etosch opened #113 "getting LinkedList working would allow Emma to die happy."
...especially if SynchronizationTest1 worked...

[2012-11-03 23:50] jjfiv commented on #108
There is an assert in place for this. Not strictly JVM behavior, but makes sense in our model.

[2012-11-03 23:50] #108 closed, assigned to nobody

[2012-11-03 23:51] jjfiv commented on #87
This will be part of Vince's test case work.

[2012-11-03 23:51] #87 closed, assigned to VJD215

[2012-11-04 00:01] jjfiv commented on #100
To do this correctly would need a better than round-robin scheduling.
1. Start treating the VM.threads array as a queue, rather than an array
2. VM.clockTick needs to utilize `(new Date()).getTime()` -- which is how javascript returns the current time in milliseconds
3. We would need to find a `TIME_SLICE = 20` or some appropriate value of milliseconds; actual value needs to be determined by exper

[2012-11-04 00:03] jjfiv commented on #91
A lot of issues have been resolved on Threads; goals are now limited to a better scheduler for Thread.sleep Issue #100

[2012-11-04 00:03] #91 closed, assigned to jjfiv

[2012-11-04 00:04] jjfiv commented on #104
Thread is now an Instance of java/lang/Thread as appropriate; it should have fields... our internal VMthread is slightly different, but this is currently not an issue.

[2012-11-04 00:04] #104 closed, assigned to nobody

[2012-11-04 00:04] jjfiv commented on #81
This is being automated in #41

[2012-11-04 00:04] #81 closed, assigned to VJD215

[2012-11-04 00:05] jjfiv commented on #101
We've implemented things as we need them; calling this closed for now.

[2012-11-04 00:05] #101 closed, assigned to nobody

[2012-11-04 00:06] jjfiv commented on #29
See google doocument.

[2012-11-04 00:06] #29 closed, assigned to jjfiv

[2012-11-04 00:23] jjfiv commented on #113
You can't always get what you want
But if you try sometimes well you might find
You get what you need

[2012-11-04 01:08] etosch commented on #46
@jjfiv , @jen4ik , @guptha- , @VJD215 : Added tracking, please pull.

[2012-11-04 01:11] etosch opened #114 "some new tests fail"
Const_4.dex, Const_class.dex, Const_wide_high16.dex

[2012-11-04 01:21] etosch commented on #112
done in last commit.

[2012-11-04 01:21] #112 closed, assigned to nobody

[2012-11-04 01:25] #46 closed, assigned to nobody

[2012-11-04 02:26] jen4ik commented on #75
screenshots are here:
https://github.com/jjfiv/dalvik-js/blob/master/docs/class_diagram_execution.png
https://github.com/jjfiv/dalvik-js/blob/master/docs/class_diagram_loading.png
https://github.com/jjfiv/dalvik-js/blob/master/docs/class_diagram_objects.png

[2012-11-04 03:07] guptha- commented on #100
Can't we still do it as an array? The way I see it, you just need to sample the time as soon as you enter a thread and then keep doing doNextInstruction till the time slice expires. A while loop around the doNextInstruction should suffice I think. At monitor entry failure, we should just sacrifice the time slice and move on to the next thread.

[2012-11-04 03:24] guptha- commented on #114
Please upload the java source and dex. I can try to debug failures.

[2012-11-04 18:57] guptha- commented on #107
Everything has been made native. Test case passes.

[2012-11-04 18:57] #107 closed, assigned to guptha-

[2012-11-04 20:43] etosch commented on #114
these are still failing on my local copy. also, my changes were overwritten. ive added them back but don't want to push until im sure we have the most recently/accurate code up. what the hell is going on?

[2012-11-04 20:49] guptha- commented on #114
Which file(s) were your changes in?

On Sun, Nov 4, 2012 at 3:43 PM, etosch notifications@github.com wrote:

[2012-11-04 20:51] jjfiv commented on #114
https://github.com/jjfiv/dalvik-js/commit/1e711874d51e737e4d78b45a8eb54947dc31beae
vmtest/index.html and vmtest/vmtest.js

[2012-11-04 20:52] etosch commented on #114
Mine were in vmtest.js and the index.html. These tests mentioned above were
still failing before I added my changes back in. My changes were checked in
and working last night and disappeared in the middle of the night.

On Sun, Nov 4, 2012 at 3:49 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD studen

[2012-11-04 20:53] #113 closed, assigned to nobody

[2012-11-04 20:55] etosch commented on #113
(closed on account of linkedlists working; not on my mental state, pre-mortem)

[2012-11-04 20:57] #105 closed, assigned to jjfiv

[2012-11-04 20:58] guptha- commented on #114
I just looked, and my change in vmtest/tests.js has disappeared too.

On Sun, Nov 4, 2012 at 3:52 PM, etosch notifications@github.com wrote:

On Sun, Nov 4, 2012 at 3:52 PM, etosch notifications@github.com wrote:

[2012-11-04 21:02] etosch commented on #114
I clicked on my commit to add my changes back into the version I pulled; if
yours weren't too integrated, you might be able to do that too? You can
click on "raw" to get something easy to copy and paste.

On Sun, Nov 4, 2012 at 3:58 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University o

[2012-11-04 21:04] guptha- commented on #114
Thankfully, it was a minor change. The next time we do something like this,
we should have a Configuration Librarian to manage all the check-ins.

On Sun, Nov 4, 2012 at 4:02 PM, etosch notifications@github.com wrote:

[2012-11-04 21:07] etosch commented on #114
I think the course webpage says we have a final exam now, so I doubt
there's going to be a next time.

On Sun, Nov 4, 2012 at 4:04 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-11-04 21:12] guptha- commented on #114
Hmmm. I thought we had another project...

On Sun, Nov 4, 2012 at 4:07 PM, etosch notifications@github.com wrote:

[2012-11-04 21:17] etosch commented on #114
You and me both, but I also thought there wasn't a final and now that's
there, but there's no project 2 info, which I assumed would be up by now...

On Sun, Nov 4, 2012 at 4:12 PM, guptha- notifications@github.com wrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.u

[2012-11-04 21:20] emeryberger commented on #114
Have no fear, there's a second project coming.

##

Professor Emery Berger
Department of Computer Science
University of Massachusetts, Amherst
www.cs.umass.edu/~emery

On Sun, Nov 4, 2012 at 4:17 PM, etosch notifications@github.com wrote:

[2012-11-04 21:22] etosch commented on #114
Be not afraid : second coming project?

On Sun, Nov 4, 2012 at 4:20 PM, Emery Berger notifications@github.comwrote:

##

Emma Tosch
Graduate Research Assistant, Computational Intelligence Lab, Hampshire
College
MS/PhD student, University of Massachusetts, Amherst
etosch@cs.umass.edu
http://cs.umass.edu/~etosch

[2012-11-04 21:23] emeryberger commented on #114
If Romney wins, then the end times are surely here, so then yes.

Otherwise, just an ordinary non-zombie project.

##

Professor Emery Berger
Department of Computer Science
University of Massachusetts, Amherst
www.cs.umass.edu/~emery

On Sun, Nov 4, 2012 at 4:22 PM, etosch notifications@github.com wrote:

[2015-06-06 13:30] #110 closed

[2015-07-02 06:47] #100 closed

[2015-07-02 06:50] etosch commented on #114
wont fix

[2015-07-02 06:50] #114 closed